[2012-08-29 19:47] callahad opened #2 "Document Convict's syntax"
Especially the fact that Convict uses Orderly's syntax...

[2013-03-02 02:17] jaredhirsch opened #4 "readme plz"
I don't have time _right this minute_ but could put something together by picking the bones of @zaach's blog post...

[2013-03-02 02:17] #4 closed, assigned to nobody

[2013-03-05 08:38] #2 closed, assigned to nobody

[2013-03-05 18:18] zaach opened #6 "Add your own format"
We could allow authors to add their own format.

Something like:

[code]

[2013-03-05 18:26] zaach opened #7 "list formats"
There is currently an Array format, but you can't restrict the values in the array to a certain type.

I was thinking of just wrapping the `format` property in an array to signify that it should be a list with elements of only that type.

E.g.:

[code]

One concern is that it looks similar to the `enum` format, although enums shouldn't be allowed to have a single element. An alternative would be t

[2013-03-22 00:01] musictray opened #8 "filename type"
Just started playing with this, and the first thing I saw missing in types was/is filename. Specifically the filename of the cert/key that are used for tsl settings in https server.

[2013-04-16 01:32] rfk opened #9 "allow config to be read from command-line arguments?"
I'm suddenly struct by the possibility of using convict in something like awsboxen and other command-line tools, to let you specify options either in a config file, in the environment, or on the command-line, and have them validated against the schema automatically.

Do you think this would be in-scope for convict?  I'm happy to try hacking on it if so.

[2013-04-17 10:48] binarykitchen opened #10 "Schema is in a separate json file"
Hello there

I think your module is probably one of the best out there dealing with configs!

But what I'm missing is the possibility to define the schema outside, in a separate json file. So instead of a schema object something like this for the convict constructor would be cool:
`var conf = convict('/path/to/schema.json');`

Because I think a schema file is a "data file" and data normally does n

[2013-05-22 03:38] seanmonstar opened #11 ""Additional properties are not allowed" error could use a better message"
I wracked my brain trying to figure out what it meant. It'd help with a message `Cannot add additional property "foo", not defined in schema` or something.

[2013-05-23 08:20] #9 closed, assigned to nobody

[2013-05-25 08:43] #6 closed, assigned to nobody

[2013-05-25 08:43] #10 closed, assigned to nobody

[2013-05-28 21:49] callahad opened #12 "Undefined defaults make convict explode"
Check this out. This is the contents of `test.js`:

[code]

This is what I get when I run it:

[code]

[2013-06-03 21:32] #12 closed, assigned to nobody

[2013-06-07 23:18] callahad opened #14 "Make it possible to determine if a value has been set to something other than the default"
I'd love to be able to tell if a property has been changed from its default, either through something like:

[code]

or

[code]

[2013-06-08 05:47] #14 closed, assigned to nobody

[2013-06-14 00:47] seanmonstar opened #17 "README type port has an error"
The README suggests a default value for port of 0, but 0 doesn't validate.

[2013-06-17 22:07] #17 closed, assigned to nobody

[2013-11-11 21:07] psirenny opened #25 "Allow functions values"
If you add a function and try to get it, it returns an empty object:

[code]

[2014-01-12 13:40] MarcDiethelm opened #28 "Please consider using dependency version ranges"
See https://npmjs.org/doc/files/package.json.html#dependencies

Ideally you should use "~x.y.z", so your users can benefit from bugfix releases (`z`) in the dependencies.

[2014-01-29 10:39] redking opened #29 "Defining a configuration property as "required", without providing a default value."
Hey,

Perhaps I'm misreading the docs, but there doesn't appear to be a way to define a configuration property as "required" but without a default value i.e. if the property is not found in the configuration file, then validation will fail.

This would be especially useful when working with a team of developers. As it stands, a developer could delete a config property without understanding the imp

[2014-05-08 14:32] ruiquelhas opened #33 "moment.js memory leak"
Apparently, there's a memory leak on the 2.3.1 version of moment.js (the one defined in convict's `package.json`). You can check it by including either one of the packages in some project and run a test using something like [Lab](http://github.com/spumko/lab) (which also checks for memory leaks).

I would have sent a pull request, but the fix is trivial (update to the latest version of moment.js).

[2014-05-13 09:58] fampinheiro opened #34 "Using streams on configuration"
Hi,

I'm using [bunyan](https://github.com/trentm/node-bunyan) and I would like to use node-convict to handle my configuration.

[code]

The problem I encountered was because of the deep copy on 'get' function (line 303 of lib/convict.js).

If the object returned was the one defined on the configuration file a stream or any object with circular dependency could be used.

Another approach could be

[2014-05-18 22:47] vladikoff opened #35 "Enable Travis again?"
Seems like it got disabled somehow https://travis-ci.org/mozilla/node-convict ?

[2014-08-14 16:07] Natim opened #37 "The schema get modified by convict."
This is a problem since I'd like to load two configuration having the same schema:

[code]

The second convict is throwing this error:

[code]

This is because I have a default, I don't get the error when there is no default.
We should make sure that convict doesn't modify the schema object.

[2014-09-27 12:49] MarcDiethelm opened #38 "Please .npmignore anything that's not needed for production"
I'm pretty sure tests are not needed in production. :)
They just bloat project dependencies, install time, use bandwidth, etc.

You could either use the [package.json](https://www.npmjs.org/doc/files/package.json.html) `files` property to whitelist files for production or .npmignore to blacklist unneeded ones.

For more info on .npmignore and an automatic generator see https://github.com/inikulin/

[2014-10-15 18:29] #33 closed, assigned to nobody

[2014-10-15 19:11] #28 closed, assigned to nobody

[2014-10-15 19:12] #11 closed, assigned to nobody

[2014-10-15 19:16] #29 closed, assigned to nobody

[2014-10-15 19:18] #37 closed, assigned to zaach

[2014-10-15 19:18] #38 closed, assigned to nobody

[2014-10-15 20:35] #35 closed, assigned to nobody

[2014-10-28 21:27] pdehaan opened #42 "Update validator dependency"
Re: https://nodesecurity.io/advisories/validator_XSS_Filter_Bypass_via_Encoded_URL

We should update to **[validator](https://github.com/chriso/validator.js)@2.0.0** or later.

[2014-10-29 19:21] #42 closed, assigned to nobody

[2014-12-05 21:09] ronjouch opened #47 "Support using convict in a (browserify-based) browser context"
Hi.

I'm trying to use your package in a browserify setup, but because `conf.loadFile('some.json')` calls various `fs` methods (`fs.statSync`, `fs.readdirSync`), it fails in the browser.

→ Is it something that sounds feasible with convict (or maybe with a browserify transform?), or do you suggest going for another package / custom solution?

Thanks for the help, and sorry for posting this as an i

[2014-12-16 15:14] #47 closed, assigned to nobody

[2014-12-20 09:57] jmendiara opened #50 "Arguments precedence"
I've experimented that the prefedence for `args` parsing is (from low to hight)
__Default -> File -> environment args -> command line -> api__

Default is overwritten by File, File by Environment args...

I.e, in this scenario
[code]
config.json
[code]

[code]

Is this correct?
Maybe would you add this to the FAQ?

[2014-12-23 00:54] pdehaan opened #53 "Confusing behavior around duration config loaded from external file"
### Steps to reproduce
1. Create an _index.js_ file and paste the following code:
[code]

2. Create a _config.json_ file in the same directory as _index.js_ created in step 1:
[code]

3. Run `node index`

### Actual results:
[code]

This seems to be because of the "2 days" in the _config.json_ file. It works fine when I set the "default" value in the _index.js_ but implodes horribly in the JSON fi

[2015-01-12 19:10] #53 closed

[2015-01-13 00:41] pdehaan opened #56 "Update changelog"
It looks like the [ChangeLog](https://github.com/mozilla/node-convict/blob/master/ChangeLog) file hasn't been updated since 0.4.1 and the [Releases](https://github.com/mozilla/node-convict/releases) page hasn't been updated since 0.5.1.

It makes it a bit tricky to see what's changed between versions unless you compare 2 different SHAs.

Not sure if there is an easy Git command that you can use to

[2015-01-13 08:53] madarche commented on #56
@pdehaan I agree that a fully documented ChangeLog is needed. It's not that hard to do it from Git history. I can do it or make some students of mine work on it. So I take the lead on this action. As for the Releases page, yes it's missing some tags :-( but only the owners of this repository can manage it.

[2015-01-23 23:04] pdehaan opened #63 "Use shrinkwrap to lock module dependencies"
We may want to use something like [shrinkwrap](https://docs.npmjs.com/cli/shrinkwrap) (`$ npm shrinkwrap --dev`) to lock down the dependency versions. Plus, it'd make it easier to integrate tooling with tools like [**nsp**](https://www.npmjs.com/package/nsp) which checks for known vulnerabilities against the https://nodesecurity.io/advisories database.

**Cons:** we'd need to rerun `npm shrinkwrap

[2015-01-26 08:26] umar-muneer opened #65 "Disallowing undeclared properties in configuration files"
So i compared the configuration schema for convict to a normal database schema. A table can only have columns that are declared in the schema and no additional ones.

I think convict should have a strict validation mode, in which only those properties should be allowed to be declared in different config files(staging,dev,prod) which are declared in the schema.

I have added a pull request doing ju

[2015-02-12 00:47] pdehaan opened #68 "Loading duration from config file doesn't convert duration to ms"
### Steps to reproduce:
1. Copy/paste the following magic sauce as ./index.js:
[code]

2. Save and run. Output should look like:
[code]

3. Add a ./config.json file and paste in the following:
[code]

4. Uncomment the `// conf.loadFile('./config.json');` line in the ./index.js file.

5. Save and run. Output should look like:
[code]

### Actual results:

### Expected results:

[2015-02-12 00:48] pdehaan commented on #53
Also see #68

[2015-02-12 00:54] pdehaan commented on #68
Not sure if I'm trying to use Convict incorrectly. I was hoping to simplify our configs to use "1 week" instead of having to convert those to milliseconds in the local.json files. But this seems to be returning the duration as a string (when loading from an external file) versus converting to milliseconds (like when it uses the default value from Convict).

[2015-02-16 16:16] #34 closed

[2015-04-04 07:12] madarche commented on #63
npm@3 automatically updates the npm-shrinkwrap.json when present cf. http://blog.npmjs.org/post/113882628280/npm-weekly-9

So I would say we can safely and easily do what you propose once npm@3 is included in current Node.js.

[2015-05-11 22:25] busticated opened #71 "support for explicit "public" settings, serialization for client?.."
hey all -

more of a question than an issue here. i'm using convict for a fairly traditional web app. i'd like to make it a bit easier to share config settings between server and client. for example, say you wanted to share validation rules / constraints - something like username max length. today, you basically serialize some subset of your configs (taking care to avoid exposing sensitive setting

[2015-05-13 15:05] madarche commented on #71
Hello @busticated,

I understand the scenario you are describing but I don't see it as a common usecase and thus, in my opinion, it shouldn't be implemented in node-convict. If possible this functionality should be implemented in a new module called, for example, `node-convict-scoped` that would be using `node-convict` as a dependency.

But if while implementing the new module you notice that smal

[2015-05-13 15:22] busticated commented on #71
cool. makes sense. thanks!

[2015-05-13 15:22] #71 closed

[2015-06-02 15:23] mmerkes opened #73 "Documentation using deprecated `validator.check`"
In the validation section of the README.md, it uses `validator.check`, which disappeared from validator a long time ago. I've created a PR to remove that and show a valid example of a custom format function.

[2015-06-02 16:55] mmerkes commented on #73
Also, I would like to flesh out the example a bit to include most/all of the features in it.

[2015-06-04 20:13] madarche commented on #73
You're right!

Still, you can close this issue, and the work can be done in #74. No need to have two open "tickets" for the same thing (Pull Requests are just special Issues with solutions :-) ).

As for providing better examples, you are most welcome. But I'd suggest to do one thing at a time: let's fix the deprecated use of `validator.check` and then let's provide improved examples.

[2015-06-04 20:22] pdehaan opened #75 "Document new strict validation mode"
In https://github.com/mozilla/node-convict/pull/64 it looks like we added a `strict` option when validating a convict schema.
It doesn't look like we added any documentation to the README telling people how to use the awesome new feature.

[2015-06-04 21:11] mmerkes commented on #73
Sounds good. Whatever flow is preferred. I opened up the issue and PR, as many projects prefer having issues and a PR to close them. I'll update the PR tonight, and I will create a new PR when I flesh out the examples.

[2015-06-05 07:40] madarche commented on #75
You are perfectly right, we should have updated the doc when this new great option arrived!

[2015-06-05 07:45] madarche commented on #73
Thanks! And, yes, having separated issues and PR might be handy for (bigger) projects where different concurrent solutions (PRs) for a same problem (issue) are proposed.

[2015-06-05 15:42] mmerkes commented on #73
Ah, that's a good argument to differentiate between the purpose of the two flows.

[2015-06-05 20:09] #73 closed

[2015-06-06 06:45] madarche commented on #65
Merging #64 has fixed this issue.

@zaach could you close this  please?

[2015-06-12 14:22] ksmithut opened #78 "Nested Config in schema"
I didn't see this anywhere in the documentation, but is there a way to have nested config variables in the config schema definition? For example:

[code]

edit: Or is there another way to go about this completely? My only requirement would be to not store the information in a file. I know I can do nested config there, but I want the schema functionality to get the config variables from environment

[2015-06-18 11:59] madarche commented on #78
Yes, nested configuration variables are supported, and there is one such example in file [test/validation-tests.js](https://github.com/mozilla/node-convict/blob/master/test/validation-tests.js#L16).

And yes, this should be documented.

Cheers,

[2015-06-18 14:11] ksmithut commented on #78
That works perfectly :) Thank you

[2015-06-18 17:42] #75 closed

[2015-06-18 17:43] #78 closed

[2015-06-18 18:49] madarche commented on #65
@zaach could you close this one please?

[2015-06-18 18:53] #65 closed

[2015-07-10 15:43] myndzi opened #81 "Update package.json license format"
Convict's package.json is giving me trouble with license validation. It appears to use a deprecated license format; please consider updating it to something more recent:

https://docs.npmjs.com/files/package.json#license

[2015-07-10 15:48] madarche commented on #81
Please provide a PR with the fix! It will be much welcome. Thanks!

[2015-07-10 15:53] myndzi commented on #81
It's such a trivial change that it's a bit of a time waste for me to go through all the hoops to do that... but you got back to me so fast, here you go: https://github.com/mozilla/node-convict/pull/82

[2015-07-20 13:46] madarche commented on #81
@zaach could you merge this PR please? Thanks!

[2015-07-29 20:22] chiefy commented on #25
:+1: I guess it's not best practice, but I was trying to save a pretty complicated data structure in convict, and it mostly worked except it stripped prototype on custom types. Had me scratching my head.

[2015-07-30 07:36] madarche commented on #25
Really node-convict is just about setting/storing values according to a schema. Not about storing functions. What is the usecase?

Or maybe you think a check preventing the setting of a function is missing?

[2015-07-30 13:56] chiefy commented on #25
@madarche Yeah, I completely get that, I was misusing convict by storing a large data structure that had arrays of objects etc. It might be useful to throw an exception in this case?

[2015-08-17 09:12] ekaradon opened #88 "Incomprehensible errors when missing default property"
When using strict mode, I get troubles with unknowns parameters. I am thinking that it may be because I am using a nested tree and I am completing it with parameters from a json file.

[code]

This is while I am using ES6 notation.

When I try with a really simple test on ES5, I cannot get farther than:

[code]

Here the sample in ES5:
**config.js**

[code]

**developement.json**

[code]

Notice t

[2015-09-04 14:15] DamonGant commented on #47
There are a few things preventing this from being browserified:

* `dep` uses v8-specific `Error` functions. Works on Chrome. Doesn't anywhere else.
* `load` now uses `fstat`, which isn't implemented by brfs

[2015-09-08 13:17] fatuhoku opened #92 "More helpful errors?"
I've seen this kind of error really often.

The configuration file being loaded:

[code]

The code loading it

[code]

The error trace:

[code]

These are opaque and completely unhelpful. What's going on?

[2015-09-12 14:15] shamil commented on #88
I guess you need to specify a `default` value, in the `first.second.third` definition

[2015-09-13 12:55] c-hartmann opened #93 "mongodb://.. as a validating url"
Would love to see mongodb://.. URI style to validate against 'url' format, as featured in:
http://blog.nodejitsu.com/npmawesome-managing-app-configuration-with-convict/

From what i can see, this might require to use:
[code]
instead of using it without the options object.

A custom validator function works fine this way:
[code]

[2015-09-15 00:31] pdehaan commented on #93
@c-hartmann If you want to validate that the protocol is "mongodb://", you can use **joi**'s `uri()` validator:

[code]

[2015-09-24 19:48] pdehaan commented on #81
I think this was fixed by https://github.com/mozilla/node-convict/commit/bfa4089310bf7b3cf9b3b23c79e1b852ce6df547

[2015-09-24 20:11] myndzi commented on #81
Yeah, I sent the PR and it was accepted, but the issue didn't get closed. Sorry.

[2015-09-24 20:11] #81 closed

[2015-09-24 20:11] myndzi commented on #81
https://github.com/mozilla/node-convict/pull/82

[2015-12-15 17:34] myndzi opened #100 "validate() reducer bug"
https://github.com/mozilla/node-convict/blob/master/lib/convict.js#L71

This line doesn't return `previousErrors`, causing an unintended throw when `previousErrors.push` is called here:

https://github.com/mozilla/node-convict/blob/master/lib/convict.js#L80

I'm preparing a PR for a fix, but i actually spent 10 times as long trying to write a test due to some peculiar circumstances. I have a test

[2015-12-15 17:38] myndzi commented on #100
PR: https://github.com/mozilla/node-convict/pull/101

[2015-12-19 15:12] chiefy commented on #92
:+1: just ran into this and have no idea what's going on?

[2015-12-31 04:53] demisx opened #103 "An array of Regexes returns array of empty objects"
Using v1.0.2

I am defining an array of regexes like this:

[code]

Later, in another file trying to retrieve this array of regexes, I get an array of empty objects instead of regexes:

[code]

Works fine if I replace regexes with strings. Am I missing something?

[2016-01-15 09:21] madarche commented on #50
@zaach could you now mark this issue as closed please? Thanks!

[2016-01-15 09:22] #50 closed

[2016-01-20 00:28] #100 closed

[2016-01-21 10:47] madarche commented on #93
I totally agree with @pdehaan suggestions.

We would loose some "validation strictness" if we set `{require_valid_protocol: false}` by default in `convict`.

Here is a full working code:
[code]

@c-hartmann could you please close this issue?

[2016-01-21 11:57] Sk1Zy opened #106 "Dynamic schema"
I'm writing a small framework that will make use of plugins. I want plugins to be able to add to the config schema when they are loaded.

However before the plugins load i need to load the config so i can start up the server. Is there any way for me to add to the schema dynamically after it has been loaded? The only way i can see to do it  is by storing the schema object, adding to it and then rel

[2016-01-21 13:39] madarche commented on #106
Hello @Sk1Zy. `convict` has not been designed with dynamic schema in mind. Adding schema dynamic reload would make `convict` more complicated. What you are suggesting (instantiating a new `convict` object every time the schema object changes) seems to be the way to go and should keep your code clean.

[2016-01-21 14:23] Sk1Zy commented on #106
Thank you for the response @madarche

[2016-01-21 14:23] #106 closed

[2016-01-21 17:19] #93 closed

[2016-01-22 17:06] voodooattack opened #109 "Pass instance to coerce"
I'm trying to achieve this:
[code]

The 'path' custom format looks like this:

[code]

This doesn't work inside coerce because it gets passed the format object itself instead of the config object.

Is there a workaround?

[2016-01-22 17:51] madarche commented on #109
@voodooattack there is no way to achieve what you want to do with the current code base. To make it append, a reference of the config object should be passed as a second parameter to the coerce functions (and to the format functions while we are at it). But I think that could be considered if you propose a PR with tests.

[2016-01-22 18:50] voodooattack commented on #109
Pull request submitted. :+1:

[2016-01-23 22:32] #109 closed

[2016-01-30 17:30] madarche opened #115 "What is the meaning of the `rv` variable?"
What is the meaning of the `rv` variable in [convict.js code](https://github.com/mozilla/node-convict/blob/2574b37c42067f77b253c223208624f1471904eb/lib/convict.js#L319)?

Could we rename `rv` into something more meaningful?

This `rv` name has always puzzled me and makes me uncomfortable with one contribution I would like to make.

@lloyd, being the author of this line, could you help on this plea

[2016-01-31 18:53] #8 closed

[2016-02-02 08:58] madarche commented on #115
I know it's a detail, so sorry again for that.

@zaach any idea on this please?

[2016-02-02 09:02] madarche opened #119 "Publish convict@1.1.0 on NPM"
@zaach @vladikoff could you publish convict@1.1.0 on NPM please?

It has been tagged with https://github.com/mozilla/node-convict/commit/11e4e434c4f7e4177895858209d916f33bf116ad

Thanks a lot

[2016-02-02 15:26] vladikoff commented on #119
we should really update the changelog one day https://github.com/mozilla/node-convict/blob/master/ChangeLog

[2016-02-02 17:02] zaach commented on #115
My guess is "return value". Feel free to rename/refactor it.

[2016-02-02 17:22] pdehaan opened #120 "Update the CHANGELOG"
Re: https://github.com/mozilla/node-convict/issues/119#issuecomment-178632968

---

We should probably just try and find a module that does a pretty changelog for us. It doesn't look like we're using Grunt or Gulp here, so adding that may be too much overhead. But it'd be nice to add auto-changelog generation on an npm prepublish hook or something.

[2016-02-02 17:23] pdehaan commented on #119
Filed as #120

[2016-02-02 17:49] pdehaan commented on #120
We could possibly use [**changelog**](https://github.com/dylang/changelog). Not the prettiest, but doesn't seem to filter on commit messages or need any configs. Although oddly it only seems to be generating a changelog for 0.7.0->1.0.2 locally for me.

FWIW, I just added it as a devDep and then added this to my package.json `scripts` section:
[code]

Output is too much to paste here, but you can

[2016-02-02 18:00] madarche commented on #115
Thanks @zaach! OK, so since the actual name is quiet meaningless at least a rename can be done.

[2016-02-02 18:00] #115 closed

[2016-02-02 18:15] madarche commented on #120
@pdehaan: A fully automated process generating the changelog for us would not provide much quality I fear. Because there are many small commits that must be factored out into one, and issues that could be renamed/reworded too. *But* I would appreciate an automatic check (a `preversion` hook?) that bugs the developer if the `ChangeLog` when tagging if the file has not changed since the last tag. Wh

[2016-02-02 18:22] madarche commented on #119
Hold on! Better *not* publish convict@1.1.0 now, since the version of [`moment` used has been found as vulnerable](https://nodesecurity.io/advisories/moment_regular-expression-denial-of-service).

[2016-02-05 15:29] #120 closed

[2016-02-05 15:44] madarche commented on #119
@zaach @vladikoff @pdehaan `convict@1.1.0` must not be published on NPM but `convict@1.1.1` is fine and ready waiting for you to check and publish.

[2016-02-08 19:25] RoboPhred opened #122 "Null default with custom validator causes json parse error"
When using a command line argument, a custom format function, and a null default, convict attempts to run JSON.parse on the argument.

This is happening in convict 1.0.2, but the code seems to be the same in master.

The issue seems to originate in the getFormat function:

[code]
In the return conditional, o.format is a function and o.default is null, resulting in (typeof null) == "object".
This c

[2016-02-09 08:50] madarche commented on #122
Thanks for reporting @RoboPhred. We will look into it ASAP.

[2016-02-10 19:42] madarche commented on #122
@RoboPhred could you make a PR consisting only of a failing test please? This will be easier for everyone interested in solving this to jump in. Thanks again!

[2016-02-11 17:22] RoboPhred commented on #122
Sent a pull request with only a test case.

I have a possible fix as well:
https://github.com/RoboPhred/node-convict/commit/a14953452d96391ed84f65f46b18cdc5ca371a3c
This passes all of the test cases, but I am not sure of the consequences of returning null from getFormat.  Particularly, coerce() has a TODO about throwing an exception, which if implemented will break this use-case again.

[2016-02-12 00:29] cdmcnamara commented on #119
Any update on getting this published? Running into errors on my build since the dependency on `moment` hasn't been update to >=2.11.2.

[2016-02-12 00:42] vladikoff commented on #119
@seanmonstar @shane-tomlinson could you publish the tag https://github.com/mozilla/node-convict/releases/tag/v1.1.0 to npm?

[2016-02-12 00:54] pdehaan commented on #119
Better yet, can we please get @vladikoff and @rfk added as npm collaborators for that project.
From the looks of that contributor list, almost 1/2 of those people are no longer at Mozilla. :sob:

[2016-02-12 00:59] seanmonstar commented on #119
Yep, published tag `v1.1.0` (not master, which seems to be 1.1.1), and added vlad and rfk as owners.

[2016-02-12 09:14] madarche commented on #119
Sorry guys: bad bad bad. You should have read my last comment better: It's `convict@1.1.1` that should have been published instead. Also it's nicely written in the ChangeLog that 1.1.0 has a security flaw in it (due to the `moment` dependency, apparently not serious in the context of convict though).

So please guys publish `convict@1.1.1` asap once you have read the ChangeLog and the commits sinc

[2016-02-12 11:16] rfk commented on #119
Is there an existing 1.1.1 tag?  I see an entry in the changelog but no tag.

[2016-02-12 11:26] rfk commented on #119
Ah, looks like @vladikoff already pushed 1.1.1; Anyway I made a 1.1.2 and published it just to be sure we're up to date, looks like only management script changes w.r.t what was intended to be 1.1.1.

[2016-02-12 11:26] #119 closed

[2016-02-12 12:14] madarche commented on #119
Nice. Thanks to you all.

[2016-02-12 12:56] madarche commented on #122
@RoboPhred thanks for all the care you put into this. I'll look at it in the next few days. Unfortunately very busy right now. If someone else can review it too it could go faster.

[2016-02-16 16:28] twitchard opened #124 "ENV variables should be reusable."

[2016-02-16 16:31] vladikoff commented on #124
what does this mean?

[2016-02-16 20:47] twitchard commented on #124
Gah I'm so sorry. I was writing a description, but then thought better of it halfway through. Didn't realize the issue had already been created.

What is was: I was a little surprised to see
[code]
when I tried to do
[code]

What I initially expected was for this to be accepted, and both foo.enable_debug and bar.enable_debug to be set to the value of process.env.ENABLE_DEBUG if it was set. In a se

[2016-02-16 23:27] mlucool opened #125 "Replacing Command Line Args Module"
In order to replace usage of something like https://www.npmjs.com/package/command-line-args it would be helpful to allow arg to have an alias. For example, I want -h and --help to both allow for help to be called.

Example usage:
[code]

On a related note, getSchemaString seems to print something like:
[code]
Any idea why it is mostly blank. Ideally, I'd like to see the output mirror https://www.n

[2016-02-23 14:27] pcguru commented on #125
Some way of auto-generating CLI help from the schema would be nice. If the user runs `node index.js --help` I want to see help output similar to [the way commander does it](https://github.com/tj/commander.js#automated---help).

None of the available methods .toString, getSchema or getProperties even lists the arg keys. Hard to generate help from that? Ideas?

[2016-02-28 14:19] enten opened #126 "Coercion issue (TypeError) with convict.load and convict.loadFile"
node-convict @ 1.1.2
### Error thrown

[code]
### Cause
- [`coerce` function](https://github.com/mozilla/node-convict/blob/a22e05f218e2ca96067efb6f28e0a63a887096fb/lib/convict.js#L267) requires a convict instance in the fourth param
- [`overlay` function](https://github.com/mozilla/node-convict/blob/a22e05f218e2ca96067efb6f28e0a63a887096fb/lib/convict.js#L234) call `coerce` without convict instanc

[2016-02-28 14:55] enten commented on #126
Fix available in PR #127.
[All unit tests passed](https://travis-ci.org/mozilla/node-convict/builds/112406974)

With this fix, the upper code (to reproduce the issue) works and the final value returns by `conf.get('config')` is `/path/to/config/bar.json`.

**What do you think about this issue and this fix?**
Is it ready to be merged?

[2016-03-01 14:27] sullivanpt opened #128 "env should accept an array"
Production deployment services like heroku typically use a diverse set of "standard" providers, each with a similar format but their own environment variable.  It'd be nice to support these "out of the box".  So something like:

`
mongoUri: {
    doc: "Mongo DB configuration string.",
    format: "uri",
    default: 'mongodb://localhost/fullstack',
    env: ["MONGOLAB_URI", "MONGOHQ_URL"]
  }
`

[2016-03-02 02:25] ash2k commented on #29
- What if in production environment the configuration is taken from the environment variable and it is expected to be injected by the PaaS/etc at runtime and is not known in advance?
- What if using a production value as a default is a bad idea (for some reasons i.e. a DB password)?
- IMHO using `default: null` is not better than making default an optional field. One could argue that invalid defau

[2016-03-06 10:42] jmls opened #129 "allowing "unknown" properties"
I want my app to have a single config.json file - but in this file there may be other properties that the enduser can customise (ie I have no idea what they may be called, and may be added outside of the application)

Can I use convict in this manner ? The conf.load() seems to load the json file without errors, but if I try and get a property that is not in the schema, it fails with the message "E

[2016-03-07 18:46] myndzi opened #130 "Explicitly loading config gets clobbered by environment variables"
Because of: https://github.com/mozilla/node-convict/blob/master/lib/convict.js#L379-L381

This behavior is counterintuitive, since if you execute `conf.load(some object)`, the result does not necessarily include the values you supplied. There is no other method to allow you to load an object literal or multiple keys in, with precedence over environment vars / arguments. I'm not sure what the desir

[2016-03-07 22:32] rofrol opened #131 "Doesn't work when no default specified"
I use convict only for validation and use env variables, but I can't create schema without default values.

[2016-03-13 19:47] LongLiveCHIEF opened #133 "Support loading configs from package.json/.npmrc"
I'd like to propose adding support for loading configs from npm compatible inputs, primarily the `package.json` file or `.npmrc`.

- The file override could be enhanced to read *either* a `.json` or an `.npmrc`
- The `ENV` key could be enhanced to support `npm-config` env vars
- A new key could be added, which loads from the `config` block of the local `package.json` file

I think this could provi

[2016-03-14 13:01] jmls commented on #129
*bump* - anyone got an idea on how this may be possible ?

[2016-03-15 17:49] #122 closed

[2016-03-15 17:53] madarche commented on #122
Your PR has been merged. Thank you very much @RoboPhred and sorry for all the delay.

[2016-03-15 18:08] madarche commented on #133
@LongLiveCHIEF I find the idea interesting. What do other interested parties think?

[2016-03-15 18:09] madarche commented on #131
Have you tried to use `null` default values?

[2016-03-15 18:14] madarche commented on #129
@jmls: that's the way convict has been designed. When in non-strict mode convict allows properties undefined in the schema to be present, but not to manipulate them, because manipulation is done through the schema. If you sometimes want to access custom properties without convict doing its job, you can read the config.json file through another mean.

[2016-03-15 18:14] #129 closed

[2016-03-15 18:26] rofrol commented on #131
I've used undefined and it works, but it wasn't obvious that I have to specify default value https://github.com/rofrol/scrape/blob/49316155e37b322ba47e00f197a0427777e1dc5c/config.js

[2016-03-15 19:47] madarche commented on #131
If you want to improve the doc you're welcome :-)

[2016-03-15 19:47] #131 closed

[2016-03-15 20:04] rofrol commented on #131
Of course I can improve doc, though value more convention over configuration and this maybe better for newcomers, don't you think?

[2016-03-16 09:12] madarche commented on #131
@rofrol sorry I don't understand what you mean. Do you mean that it would be better to let the doc be improved by newcomers?

There is this part of a test that seems to check exactly the subject of your question: https://github.com/mozilla/node-convict/blob/master/test/format-tests.js#L110-L113 so it seems safe to document this "optional" use case.

[2016-03-16 09:29] madarche commented on #125
@mlucool I'm not against adding support for command-line aliases, though I don't think it's that valuable because command-line args are already supported as long options. I fear it will make the code a bit more complex (and some parts are already too complex for easy maintenance I think). So I would rather avoid it, but it's not a definitive "No". What do other interested parties say?

On the othe

[2016-03-17 14:50] rofrol commented on #131
No, I mean that saner defaults would be to let convict work without specifying defaults. Especially when I don't what any defaults:

https://www.reddit.com/r/node/comments/3e9f2f/processenvnode_env_undefined_should_it_default_to/ctd3w07

[2016-03-18 16:24] madarche opened #135 "Publish convict@1.1.3 on NPM"
@rfk , @vladikoff could you publish `convict@1.1.3` on NPM please?

`convict@1.1.3` is already tagged and ChangeLog has been updated.

Thanks!

[2016-03-18 16:27] vladikoff commented on #135
Not seeing the tag:
![image](https://cloud.githubusercontent.com/assets/128755/13884543/d3f54824-ed04-11e5-8c9b-30bc62583934.png)

[2016-03-18 16:33] madarche commented on #135
@vladikoff : Oups! I forgot to push tag! Sorry. It's OK now.

[2016-03-18 16:41] vladikoff commented on #135
Done! Thanks!

[2016-03-18 16:41] #135 closed

[2016-03-18 16:42] madarche commented on #135
Thank you very much Vlad!

[2016-03-19 16:00] madarche commented on #131
@rofrol OK to have saner defaults. Could you work on a PR for this please? Thank you!

[2016-03-23 21:59] myndzi opened #136 "Loading an object config value fails if format isn't specified explicitly"
I'm not sure what you want to do about this one, really. Most of the time, the type of a value is inferred from the default value if it's not specified. If that type is an object, e.g.:

[code]

and you try to load some data...

[code]

... it succeeds. But if that data contains deeper properties...

[code]

[2016-03-25 12:25] fkm commented on #88
Or disable strict validation.

[2016-03-25 12:26] fkm commented on #92
The strict validation seems to have some really strict guidelines on what a complete definition is.

Remove strict validation and you'll be fine.

[2016-03-25 12:58] chiefy commented on #92
@fkm I was getting errors like these w/out `strict:true`

[2016-03-30 15:19] damnhipster opened #137 "JSON schema doesn't support built-in type format"
[code]

[code]

I get the following error:
[code]

It looks like `"Array"` being interpreted as a String rather than a built-in type.

Should I be doing this a different way?

[2016-03-30 15:28] madarche commented on #137
Hello @damnhipster this is currently a limitation of defining the schema in JSON. If you define your schema programmatically through JavaScript and not JSON, using `"format": Array` instead of `"format": "Array"` it will work.

I find it very limiting too, but couldn't save any time to tackle it so far :-\

PR welcome!

[2016-03-31 15:38] damnhipster opened #140 "Encrypting sensitive config"
Projects I've worked on in the past needed their config files checked into a repository so config could be shared with other maintainers. I've come across this scenario again but I'm using node-convict.

To protect sensitive data from prying eyes, I'm suggesting we add a way to allow encrypted config to be passed along via config files, and supply a way for clients to decrypt the data via node-con

[2016-03-31 18:22] #137 closed

[2016-03-31 19:24] madarche commented on #140
I do understand the use case. It feels a bit too specific for convict but can still be considered. So it's not a definitive "No". Ideally this should be supported by some kind of plugin. But more simply maybe a custom Formater with a custom `coerce` method could do the job see #110. Could you try that?

[2016-03-31 21:08] #63 closed

[2016-04-01 13:35] madarche opened #141 "Publish convict@1.2.0 on NPM"
@vladikoff could you publish convict@1.2.0 on NPM please?

convict@1.2.0 is tagged and the ChangeLog has been updated.

Thanks!

PS: I had to split the `assert_release_quality` script into 2 scripts `assert_shrinkwrap_ready` and `assert_changelog_ready`.

[2016-04-01 16:20] vladikoff commented on #141
Done! Thank you :+1:

[2016-04-01 16:20] #141 closed

[2016-04-02 09:42] ratson opened #142 "[Proposal] Use json5 instead of cjson"
[json5](https://www.npmjs.com/package/json5) makes JSON easier to write. I could prepare a pull request if needed.

[2016-04-03 15:22] madarche commented on #142
:+1:  Thanks!

[2016-04-04 20:47] LongLiveCHIEF opened #144 "[WIP]: Native support for "semver" format"
I often find that I need to specify versioning as a format.  I'm working on a format that would add `semver` to my current project, and I will create a PR to add this as a natively supported format for convict when I'm done.

[2016-04-05 13:56] damnhipster opened #145 "Schema file validation for built-in types fails silently"
I have a format property for a setting which is set to validate against the javascript built-in type `String`.

It doesn't seem to work. I'm expecting some validation error to be thrown, but
[code]
just fails silently, and returns back the schema. I'm using v1.2.0 which contains the feature allowing schema files to have built-in type validation.

Here's the full code:

[code]

[code]

Command run:

[2016-04-05 17:02] pdehaan commented on #145
@damnhipster Why were you expecting a validation error? You specified a format of "String" and you're passing a string from the command line.

When I `console.log()` the `conf.get('aws.s3.bucket')` I get the following:

[code]

But when I modify the `config/schema.json` and add a default value, I get back the expected bucket name:

[code]

Which gives me the following:

[code]

[2016-04-05 19:05] madarche commented on #144
Hello. Nice idea to contribute that and thank you for taking your time to share. Still, we won't add everybody's formats (think [Node aesthetic](http://substack.net/node_aesthetic)). So I would rather see this:

1. Document how to create your proposed format (and while you're at it you could also document how to use URL format as in #93) in a dedicated new document (let it be in a `doc/custom-form

[2016-04-05 19:19] LongLiveCHIEF commented on #144
Actually, I realized this same concern already, and I started work on the second item yesterday.  I have a branch with that work in progress already.

So far, I've focused on isolating the format based code and api's into their own module within the convict codebase. This means that convict would have more than just the single `convict.js` source file, and I wanted to ensure that the project team

[2016-04-05 19:27] LongLiveCHIEF commented on #144
Another note re: plugins... this module is written very pure, so it basically supports plugins already, as long as you export a valid schema.

There *could* be a something in convict' s api  that would validates a plugin's schema, but the simplest thing I'm seeing right now is that "plugins" could just be a recommended nomeclature and some documentation.

[2016-04-05 19:35] madarche commented on #144
Yes, actually `Convict#addFormat` is already a plugin framework!

[2016-04-06 07:23] #142 closed

[2016-04-06 09:35] damnhipster commented on #145
Yes, I just came to the same conclusion, it was the fact that I hadn't put a default.

[2016-04-06 09:35] #145 closed

[2016-04-06 09:41] damnhipster commented on #140
I don't think this would work because there would be no way for node-convict to decrypt the data without making a call to an external service to decrypt securely. That sounds out of scope for this work.

[2016-04-06 09:41] #140 closed

[2016-04-06 15:44] sykaeh commented on #125
I would really appreciate both command-line aliases and an auto-generated help message. As far as I can tell, convict currently uses [optmist](https://github.com/substack/node-optimist) to parse the command line arguments. However optimist has been deprecated since February 2014. So maybe replacing optimist with something like [commander](https://github.com/tj/commander.js) would be a good idea an

[2016-04-07 19:45] madarche opened #146 "Publish convict@1.3.0 on NPM"
@vladikoff could you publish convict@1.3.0 on NPM please?

convict@1.3.0 is tagged and the [ChangeLog](https://github.com/mozilla/node-convict/blob/master/ChangeLog) has been updated.

Thanks!

[2016-04-07 19:48] madarche opened #147 "In README give example how to use convict with a JSON/JSON5 schema file"
At the moment it's only written "convict() takes a schema object or a path to a schema file and returns a convict configuration object", but no actual example is given, which leads newcomers to think that convict can only use a schema object.

[2016-04-10 18:14] madarche opened #149 "Replace optimist which is deprecated"
Replace optimist, which is deprecated (as noted in #125, thanks @sykaeh), by another module, maybe [minimist](https://www.npmjs.com/package/minimist). I'm not in favor of `commander` which does too many things for the small needs of convict.

[2016-04-11 14:30] madarche commented on #136
Thanks for reporting this! I'll investigate when I can.

[2016-04-14 07:28] madarche commented on #146
@vladikoff could you publish this new release on NPM please?

[2016-04-14 13:45] vladikoff commented on #146
Done :+1: , sorry for the delay

[2016-04-14 13:45] #146 closed

[2016-04-15 08:37] madarche commented on #146
Thanks a lot for your time @vladikoff ! And no problem, we're all very busy. And this 1.3.0 with working npm-shrinkwrap.json and JSON5 support is a nice one.

[2016-04-27 13:54] LongLiveCHIEF commented on #147
Convict only *does* use a schema object.  All the remaining examples on the page show how that schema is constructed, manipulated, and supported.

[2016-04-27 14:02] LongLiveCHIEF opened #150 "Contributor Request"
If possible, I'd like to be made into an external contributor for convict.  [We](https://github.com/StateFarmIns) use it heavily, and I'd like to:
- help maintain communication with users that open issues
- ensure docs are doing what they need to do
- assist in keeping the package up to date
- responding to and collaborating on sensible feature requests
- assisting in active development of any agr

[2016-04-27 14:24] LongLiveCHIEF commented on #128
I think there's some real merit to this idea, but let's play "see if we can sink it" first.  If you can answer these, then I think your boat will float.

Hypothetically, what do you see happening if:

- [ ] both env vars are found?
 - [ ] *and* they don't match?
- [ ] Could users still accomplish creating custom validations for these values without complicating the convict api?
 - [ ] How do the d

[2016-04-27 14:29] LongLiveCHIEF commented on #150
Examples of my "maintainer/collaborator" type of actions mentioned above:

- https://github.com/mozilla/node-convict/pull/132
- https://github.com/mozilla/node-convict/issues/128
- https://github.com/mozilla/node-convict/issues/133

/cc @madarche @rfk @vladikoff

[2016-04-27 15:36] sullivanpt commented on #128
I fail to see how using convict.load to dynamically build a schema would be more readable than a static declaration. However, I don't actually use convict in any of my projects. Feel free to close this change request if you think it is out of scope from the project goals.

[2016-04-27 17:23] LongLiveCHIEF commented on #128
I'm not a maintainer, but I think the idea could be useful, and I could see myself taking the time to code it up and submit a PR, but those are the considerations that would have to be made in order to make the code function properly.

Whether or not it's in scope... well, maybe it isn't *now* but maybe it *should* be... *if* we can answer the challenges I mentioned above.  I'm sorry if I came acr

[2016-04-27 17:56] LongLiveCHIEF commented on #128
This would also be a common need for picking up env vars such as proxies, which are often formatted differently between operating systems and platforms.

I just went down two roads, and couldn't come up with an answer:

## Coercion

I thought perhaps we could coerce the values, but the coercion operates on the value of the environment variable by first identifying it from the schema provided... me

[2016-04-27 18:11] LongLiveCHIEF commented on #149
Actually, my use, and subsequent dissatisfaction with `commander` and then `yargs` is what caused me to start using `convict` to begin with.  I'll take this as a WIP if no one else has started working on it yet.  I've gotten halfway there already when I started #144

[2016-04-27 18:13] LongLiveCHIEF commented on #144
This was super simple to accomplish, I'm wrapping my findings into a module that you can pass to `convict.addFormat(require('convict-semver'))`, and will publish shortly.

[2016-04-27 19:44] madarche commented on #149
I haven't started working on this issue. So please do if you can. Thanks!

[2016-04-28 07:45] madarche commented on #150
Hello @LongLiveCHIEF  Thanks for your interest and help proposal which is a real good news. I encourage you to make just one or two more PR and I'm personally all for it. But I have no power to make you such. It's @rfk @vladikoff

[2016-04-28 07:57] madarche commented on #147
It's possible to use a JSON/JSON5 schema file, cf. https://github.com/mozilla/node-convict/blob/master/test/schema-tests.js#L17

[2016-05-02 04:12] rfk commented on #150
FWIW I'm happy to support this based on a 👍 from @madarche; @LongLiveCHIEF thanks for your contributions so far!

[2016-05-12 20:15] mlucool opened #153 "Browserify and varify"
Hi,

The assumption that a user will use browserify (over webpack or nothing) seems too strong. I suggest moving varify to an [optional dependency](https://docs.npmjs.com/files/package.json#optionaldependencies). This will reduce install size by 2MB. For those who leave node default settings as it, it will continue to install varify as optional dependencies are installed but won't break if they ca

[2016-05-17 12:17] #149 closed

[2016-05-17 12:39] #153 closed

[2016-05-17 12:43] madarche commented on #153
I've moved `varify` to `optionalDependencies`, but the module still appears in the `npm-shrinkwrap.json` file. So this modification produces no effect in the end unless the `npm-shrinkwrap.json` generation can be changed to take this change into account.

Nevertheless I'm closing this issue. Feel free to open it again if you have more clues.

[2016-05-17 14:14] mlucool commented on #153
Thanks for the change. It seems like the shrinkwrap issue is on the roadmap to be fixed :/
See: https://github.com/npm/npm/issues/2679
See: https://github.com/npm/npm/wiki/Roadmap-area-of-focus%3A-bundling

[2016-05-17 16:03] madarche commented on #153
Thanks a lot @mlucool for the references!

[2016-05-29 18:42] madarche opened #156 "Publish convict@1.4.0 on NPM"
@vladikoff could you publish convict@1.4.0 on NPM please?

convict@1.4.0 is tagged, the tag is pushed and the  [ChangeLog](https://github.com/mozilla/node-convict/blob/master/ChangeLog) has been updated.

Thanks!

[2016-05-30 23:14] vladikoff commented on #156
Done! Thank you!

[2016-05-30 23:14] #156 closed

[2016-05-30 23:15] #56 closed

[2016-05-31 08:01] madarche commented on #156
Thanks a lot @vladikoff!

[2016-06-02 08:43] rijnhard opened #157 "Crappy Benchmark for fun"
So for giggles i put together a bench, running convict and nconf in separate official node:4 docker containers.

with a basic test being:

### Test 1: Multiple files, with env and CLI override

- a globally installed CLI command on the latest official node:4 docker container
- use 4 configurations
    - system defined config file `system.json`
    - user specific config file  `config.json`
    - e

[2016-06-02 08:55] rijnhard opened #158 "Are defaults being reapplied when specifying multiple config files in one loadFile?"
So I'm doing some crappy benchmarks. https://github.com/mozilla/node-convict/issues/157

And during the test I discovered some non-obvious behaviour.

when specifying multiple files to `loadFile`  it looks like the defaults were being reapplied.

The easiest way to explain is just to look at the bench example.
https://github.com/rijnhard/node-crappy-benchmarks/blob/master/config-parser/convict/tes

[2016-06-02 08:56] madarche commented on #157
First, thanks a lot @rijnhard ! I'll be looking at your benchmarks in detail.

[2016-08-10 15:59] id0Sch opened #159 "suggestion : allow import from key:value based on param"
hi,
my team is split into devops and devs
devops are incharge of setting the necessary values for my apps' config and i'm responsible for the app.
we have some integration issues when i play around with the config structure (server.port => httpserver.port , etc...)

our solution right now is to load a key:value mapping file from either dynamo / file that looks like

[code]

and i parse it into the

[2016-09-05 08:56] id0Sch commented on #159
?

[2016-09-08 10:17] foxx opened #160 "Expose `types` in `module.exports`"
I had an issue where I wanted to check for an "array of IPs", I used a custom format for this and wanted to reference the built in `types.ip`, but couldn't because it's not exposed via `module.exports`.

As such, I propose that we add `types` to the exports

[2016-09-08 12:07] madarche commented on #160
Hello @foxx,
Since you are already writing a custom format, you can use the following code (that convict uses under the hood) to check for your "array of IPs":

[code]

That said I'm not against exposing the `types` to the outside, but if we do so we would have to make the exposed `types` read-only (to protect them). Not too difficult, but overkill if there isn't any strong usecase.

Thanks for us

[2016-09-08 12:23] madarche commented on #159
Hello @id0Sch,
First sorry for the delay.
The schema of the config file is the API that everyone (the devops team and the dev team) has to follow: If you want to change this API, you are then faced with the same problems that everyone else has when changing their API :-\

So first you might still support the old schema keys while providing new ones, and at some date (when you are confident with yo

[2016-09-08 14:46] foxx commented on #160
Closing this out, thanks for the quick reply!

[2016-09-08 14:46] #160 closed

[2016-09-16 23:23] jmendiara opened #161 "Property documentation in schema"
In your [Readme#Schema](https://github.com/mozilla/node-convict#the-schema) you say

But I can get it from anywhere with your public API

https://runkit.com/jmendiara/57dc7d2fcd42cc1400f5e0bd/branches/master

[code]

Is this a bug?
I'm interested in getting the static schema properties, which includes `doc`, `default`, `env` & `arg`, but they are available in `convict._def` which I think are priva

[2016-09-19 23:05] jmendiara commented on #161
I've created a tool for an easy integration with [commander.js](https://github.com/tj/commander.js/) that ilustrates schema access by 3rd parties
https://github.com/jmendiara/convict-commander

[2016-09-20 02:41] Xerkus opened #162 "Improvement: allow partial validation to check values used before config is ready"
A way to do partial validation is needed for the cases where value from incomplete config is used to finish setting it up.
With sample code below `node index.js --config config.js` will fail (hopefully) on `loadFile()`

    const convict = require('convict');
    const path = require('path');

    convict.addFormat({
        name: 'configfile',
        validate: (val) => {
            // Some samp

[2016-09-20 12:00] madarche opened #164 "Stop supporting Node.js 0.10 by october 2016"
https://github.com/nodejs/LTS

[2016-09-23 22:29] Xerkus commented on #136
Same problem is exposed when trying to define custom type accepting object value

[code]

[2016-10-16 15:46] madarche opened #166 "Stop supporting Node.js 0.12 by december 2016"
https://github.com/nodejs/LTS

[2016-10-16 15:50] #164 closed

[2016-10-20 20:06] jcollum opened #168 "ReferenceError: int is not defined when using `format: int`"
[code]

My yaml:

    importData:
      # ...
      port:
        'default': defaults.databases.import.port
        format: int

The docs say `int` is valid:

[code]

[2016-10-20 20:10] #168 closed

[2016-10-20 20:10] jcollum commented on #168
Ignore this please

[2016-11-01 22:13] warent opened #170 "ws:// protocol not supported"
AngularClass/angular-websocket requires a url to use the `ws://` protocol. If I try to define this via `format: 'url'` it spews.

[2016-11-01 22:40] pdehaan commented on #170
Ref: https://github.com/mozilla/node-convict/issues/93

I think you can just use a custom `validator.isURL()` format and allow `ws://` and `wss://` protocols. Maybe something like @madarche's https://github.com/mozilla/node-convict/issues/93#issuecomment-173534732:

[code]

[2016-12-02 06:59] gurpreetatwal opened #171 "using windows pipes as ports"
When deploying node apps on azure websites, azure exposes the port that the app should listen on as the `PORT` environment variable. This can cause issues when using convict, as the port validator expects ports to only be numbers. The simplest solution would be to use another variable for the production config but that produces a weird situation where the port your app listens on is a different va

[2016-12-02 08:31] madarche commented on #171
Hello @gurpreetatwal. I had never heard about azure ports before. Thanks for the description!

Your custom format seems to be a good solution since it allows both this special azure port string and the classical integer form.

Alternatively you can also accept anything for the `port` property:
[code]

[2016-12-05 19:25] gurpreetatwal commented on #171
haha I hadn't either until I used Azure.

Ah okay I had never tried using `"*"` as the format, removing the format entirely but leaving the default was causing convict to infer the format from the default value and was coercing the pipe into a `NaN`.  Took quite some time to pinpoint that as the issue.

Regarding the fix, do you think it's too specific to add as a default format or would it be fin

[2016-12-09 15:17] tatemz opened #172 "Coerce only accounts for default values"
Looking at the code below, while using the suggested "placeholder" format from the README, the placeholder functionality does not take into account the _loaded values_. Is there a way to recalculate the "placeholder" values upon calling `.get()`

The following command is being run to execute the following snippet: `NODE_ENV=prod node index.js`

[code]

[2016-12-10 20:19] #166 closed

[2016-12-10 20:49] madarche commented on #171
I agree to add a new `named_pipe` predefined format if you want to contribute it.

As for the idea of adding a new `named_pipe_or_port`, why not? Waiting for your PR.

[2016-12-14 16:18] tatemz commented on #172
@madarche Any thoughts? I hate to pester, but I have tried to resolve this on my own to no avail :-(

I'll submit a PR if I am able to debug deeper, but any collaboration is much appreciated.

[2016-12-14 16:26] madarche commented on #172
@tatemz: I'll try again soon.

[2016-12-15 05:08] gurpreetatwal commented on #171
Just wanted to give an update, I've written the new formats however I still have to write tests for them. I'll make PR once I'm good on my side

[2016-12-18 18:36] madarche commented on #172
@tatemz I couldn't make it work either :-( and even the placeholder example in the README doesn't work with `set` :-( (instead of the `loadFile` that is your current problem).

From Convict's README, the coercion usecase is to coerce environmental variables from strings to their proper types when importing them. This is a needed and thus legitimate usecase for a configuration handler. And since th

[2016-12-18 18:36] #172 closed

[2016-12-18 20:00] madarche opened #178 "Publish convict@2.0.0 on NPM"
@vladikoff could you publish convict@2.0.0 on NPM please?

convict@2.0.0 is tagged, the tag is pushed and the  [CHANGELOG](https://github.com/mozilla/node-convict/blob/master/CHANGELOG.md) has been updated.

Thanks!

[2016-12-18 20:01] madarche commented on #171
Fix by #175

[2016-12-18 20:01] #171 closed

[2016-12-18 20:02] #170 closed

[2016-12-19 20:59] tatemz commented on #172
@madarche - That's reasonable. I'll just have to do it the verbose way and concatenate some variables. Thanks for looking into it! 💯

[2016-12-19 22:04] tatemz commented on #172
@madarche

UPDATE:

Here is how I am accomplishing my goal with the aforementioned example:
[code]

[2016-12-20 08:22] madarche commented on #172
@tatemz thanks for the heads up! And glad that you have a solution.

FYI for the future I would prefer that convict has a new explicit format for such a usecase: it could be a format named *computed* that would have its value computed from other properties. That way it wont' mess with the coercion code and this code would be straightforward to understand and maintain.

Cheers

[2016-12-20 19:52] tatemz commented on #172
@madarche - Suggestion, rather than adding a "format", perhaps it would best that the format contain one additional method alongside it's siblings... for instance:

[code]

[2016-12-20 22:15] vladikoff commented on #178
@madarche should we wait for https://github.com/mozilla/node-convict/pull/179 ?

[2016-12-20 22:51] gurpreetatwal commented on #103
I'm guessing the `JSON.parse(JSON.stringify())`  is there to allow for an easy deep clone, but it should be replaced with an actual deep clone function

[2016-12-21 09:25] madarche commented on #178
@vladikoff since I have already set the tag in the repository and it's a bad practice to "change the history" in the git repo, it's too late to change what will go in the 2.0.0 release. So let's NPM publish convict@2.0.0 please! I think #179 should be treated as a separate concern. Thanks again.

[2016-12-24 09:08] madarche commented on #178
@vladikoff to be as clear as possible: once you've published convict@2.0.0 I'll work on a new release which will include #179.

[2016-12-25 15:07] madarche commented on #178
Thanks a lot @vladikoff !

[2016-12-25 17:24] madarche commented on #103
Thanks @gurpreetatwal . I have just tested and the reported issue is indeed fixed in the current new release.

[2016-12-25 17:24] #103 closed

[2016-12-25 17:33] madarche commented on #172
@tatemz what are the advantages of an additional *compute method* over a new *computed format*? Could you elaborate please? Thanks

[2016-12-29 19:07] tatemz commented on #172
@madarche I don't know enough about the code base nor enough about the potential application to know if adding a _compute method_ is more advantageous than a _computed format_.

I consider the word "format" nearly synonymous with a Javascript "type" due to the fact that (per your documentation) for each official "type", there is a corresponding "format". Thus, my intuition says that, as a user, I

[2017-01-17 09:03] gurpreetatwal commented on #126
@madarche I believe this issue should be closed, the corresponding PR was closed

[reasoning](https://github.com/mozilla/node-convict/pull/127#issuecomment-267836903)

[2017-01-17 09:09] madarche commented on #126
You are right. Thanks a lot again @gurpreetatwal.

[2017-01-17 09:09] #126 closed

[2017-01-31 20:21] sebradloff opened #180 "npm install convict ignores registry settings"
We are trying to install convict in a proxy environment.
We have our .npmrc has registry settings like so:
`
registry = "http://artifactory/"
@npm:registry = "http://artifactory/"
`

For some reason the following packages are not being resolved through artifactory but are trying to resolve to the npmjs.org.
`
31-Jan-2017 13:54:04	npm ERR! fetch failed https://registry.npmjs.org/lodash.clonedeep/-/

[2017-01-31 22:01] madarche commented on #180
Hello @sebradloff . Tanks for your interest in Convict. The (`package.json`)[https://github.com/mozilla/node-convict/blob/master/package.json] file doesn't reference any registry, but the (`npm-shrinkwrap.json`)[https://github.com/mozilla/node-convict/blob/master/npm-shrinkwrap.json] file does! Check its content. If you can find a way to generate an `npm-shrinkwrap.json` file compatible with any r

[2017-01-31 22:15] sebradloff commented on #180
Thanks @madarche for the response! We might end up looking into cloning down convict and editing the shrinkwrapped registry. By any chance do you know if convict can be used client side, using webpack and not gulp && browserify?

[2017-01-31 22:19] madarche commented on #180
@sebradloff it used to work, but it never has been a goal for Convict, see #47

[2017-03-02 22:16] jcollum commented on #124
Any movement on this? I think env variable reuse should be an overridable flag.

[2017-03-03 09:58] madarche commented on #124
@twitchard I didn't know about this behavior: sure at least this should be documented in the README and should also be unit tested (I haven't found any test about this behavior - just a quick search).

@twitchard @jcollum I'm personaly not against and opt-in making it possible to reuse env variables. A PR on this could be accepted if the code is clean, doesn't add to the complexity of Convict, and

[2017-03-14 08:48] madarche commented on #124
You might be interested by new options available for the `validate` method that has just landed https://github.com/mozilla/node-convict#configvalidateoptions as it seems a good place to deal with options. I'm not saying it's the way to go, just that this is a possible choice. Cheers.

[2017-03-14 08:55] madarche opened #183 "Publish convict@3.0.0 on NPM"
It's not ready yet, but this ticket to let you know that I plan to publish a convict@3.0.0 on NPM

This new release will include:
* Rename pipe formats to emphasize that they are for windows pipes #179 by @gurpreetatwal (this is the major change that requires a semver major update)
* In validate function alter option strict to allowed, with option 'strict' and 'warn' #182 by @benTrust
* Dependenci

[2017-03-14 22:17] bchristie opened #185 "Option for loadFile to run optimistically but fail quietly."
Could there be an option to specify a silent failure if `.loadFile` is unable to find the file? Currently an error is thrown:

The purpose is to optimistically load `./${conf.get('env')}.json`, but not require it. Currently an `fs.access` check is required first. Thoughts?

[2017-03-14 22:24] bchristie opened #186 "_instance -- Should this be used?"
I was introducing convict into an existing app, but given the API (`.get`/`.set`) I looked for something that would allow me to migrate in the least invasive fashion. I came across `_instance` and hesitate to use it given it's internal naming convention.

So, that said, is `_instance` there for the taking or (s/c)hould a new API be created to expose similar functionality? Ideally I'm looking for s

[2017-03-15 14:56] madarche commented on #185
Hello @bchristie: I think I understand what your idea is, but when a developer calls the `loadFile` method they want to have the action done or failed with an error. This is the paradigm used everywhere. What you could do is, in your own code, to test the existence of your file and call `loadFile` or not upon it.

[2017-03-15 14:56] #185 closed

[2017-03-15 15:05] madarche commented on #186
@bchristie I think you mean that it would have been great that Convict could just give direct access to its properties without having to resort to the `get` and `set` methods. I would have love that too when I switched to Convict :-) So you're clearly not the only one.

One thing is for sure, you should not rely on accessing a variable clearly marked internal, such as `instance`.

That said, I thi

[2017-03-15 15:05] #186 closed

[2017-03-16 17:59] madarche commented on #183
@vladikoff could you publish convict@3.0.0 on NPM please?

convict@3.0.0 is tagged, the tag is pushed and the  [CHANGELOG](https://github.com/mozilla/node-convict/blob/master/CHANGELOG.md) has been updated.

Thanks!

[2017-03-16 18:11] madarche commented on #183
And it's all green wrt the CI

[2017-03-16 18:12] vladikoff commented on #183
@madarche will do in a bit, thanks!

[2017-03-17 01:28] elyscape opened #187 "Feature request: ability to mark sensitive values for masking in toString()"
It can be useful, when an application starts, to print out what it has determined the configuration to be; this allows the user to determine whether their issue is with configuration or elsewhere. To that end, it would be nice if convict provided a way to flag certain values as sensitive and have them masked by `toString()`. To illustrate, consider this code sample:
[code]
Currently, this is what

[2017-03-17 01:49] elyscape commented on #187
This might also be a good idea to apply to the error messages produced by validation failures on sensitive values. Currently, the error string prints the value provided:
[code]
[code]
With masking:
[code]

[2017-03-17 07:42] madarche commented on #187
Hello @elyscape. I'm totally OK for this (very thorough and justified) feature request.

To be more precise:

* OK for a `sensitive: true` field property
* OK for altering the `toString()` method
* And there's no compatibility issue since nobody is supposed to parse the output of the `toString()` method. There's a `getProperties()` method providing a JSON export

You're more than welcome to work o

[2017-03-22 02:28] elyscape commented on #187
I'll take a stab at it shortly.

[2017-03-22 02:50] vladikoff commented on #183
done!

[2017-03-22 02:50] #183 closed

[2017-03-22 08:54] madarche commented on #183
Thanks @vladikoff !

[2017-03-28 09:14] #187 closed

[2017-03-28 20:25] elyscape opened #193 "How should validate() handle missing nested values?"
While working on #192, I discovered an interesting bug. Specifically, if one sets a field's parent to some value, via `set()`, `load()`, or `loadFile()`, that field vanishes without the rest of convict noticing. Test case:
[code]
This can have problems downstream if, say, a malformed config file nukes a tree that the app is expecting to exist. Other fun results:
[code]
So ultimately my question is

[2017-03-31 07:31] #161 closed

[2017-03-31 07:37] #180 closed

[2017-03-31 07:40] madarche commented on #159
#182 has introduced the possibility to simply warn during validation. This is very useful when doing API transition.

[2017-03-31 07:40] #159 closed

[2017-04-02 08:06] madarche commented on #193
Hello @elyscape. I agree with you on putting checks into `set()`, `load()`, and `loadFile()` that would throw an exception right away in case of bad usage (i.e. on trying to set a non-existing field). As for how to do it, checking if the object has children in the schema is how I would do it. I don't understand when you write "a path that either already has an object value", but I would happily re

[2017-04-02 08:10] madarche commented on #92
This problem arises when no `default` property is set for a field. We should better check schema validity on schema creation.

[2017-04-02 08:11] madarche commented on #88
This problem arises when no default property is set for a field. We should better check schema validity on schema creation.

[2017-04-02 08:12] madarche commented on #92
Duplicate of  #88

[2017-04-02 08:12] #92 closed

[2017-04-02 11:38] madarche commented on #25
Storing functions is not advertized in the doc and is not an error that someone would do by mistake. So I don't think a check on this is necessary.

[2017-04-02 11:38] #25 closed

[2017-04-02 11:41] madarche commented on #124
Fixed by #189

[2017-04-02 11:41] #124 closed

[2017-04-02 11:42] madarche commented on #150
I'm closing this ticket for now.

[2017-04-02 11:42] #150 closed

[2017-04-02 11:52] madarche commented on #130
I'm closing this ticket for now. But you can reopen it and if so, please could you provide a use case and a working example? I think I understand what you mean, but I don't think there is any problem.

[2017-04-02 11:52] #130 closed

[2017-04-02 11:53] #144 closed

[2017-04-02 17:07] #147 closed

[2017-04-06 11:29] erdii opened #200 "sensitive setting is not respected when calling `config.toString()`"
the `sensitive` setting doesn't get respected in my setup. Am I missing something here?

Convict Version: `^3.0.0`
No Envvars applied

My config.js looks like this (postgres.password is the sensitive key):

[code]

and `config.toString()` returns:

[code]

[2017-04-06 12:01] madarche commented on #200
Hello @erdii. The `sensitive` property is only available in the Git repository for now. A new convict NPM package has not yet been published. And it will be a convict@4.0.0. But you can still test and use convict from Git in your Node.js applications by specifying the dependency as follows:
[code]

convict@4.0.0 will be published in a week or so now.

[2017-04-06 12:01] #200 closed

[2017-04-06 12:04] erdii commented on #200
ah! my fault!

thanks for your fast response :)

[2017-04-06 12:26] madarche opened #201 "Publish convict@4.0.0 on NPM"
It's not ready yet, but it's to discuss when to publish convict@4.0.0 on NPM.

@elyscape are there other changes you would like to make before we cut a convict@4.0.0?

[2017-04-06 23:55] elyscape commented on #201
The only thing I can think of is that we might want to finish hashing out #193, but we could always leave that for the next version.

[2017-04-07 09:38] madarche commented on #201
Roger @elyscape. I prefer to ship everything potentially disruptive in convict@4.0.0 instead of figuring out later that we need to release the rest in a new major convict@5.0.0! We don't want to annoy our users.

[2017-04-07 15:50] elyscape commented on #201
Makes sense to me.

[2017-04-26 02:53] avindra opened #202 "Typescript types out of date?"
cc @Nemo157 who wrote the original types.

[The latest types](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/convict/index.d.ts
) in `DefinitelyTyped` for this package appear to be for version `0.6.0`.

Is there any interest in bundling official types and adding the `typings` key to `package.json`, or in updating the third party repo?

[2017-04-26 12:36] madarche commented on #202
TypeScript is not used (and won't be) in this project. We prefer to go ES2015 and the next versions of JavaScript.

[2017-04-26 12:36] #202 closed

[2017-05-10 15:27] kozhevnikov opened #203 "Command-line arguments do not work"
The command line arguments functionality doesn't seem to be working, here's  a test using latest `"convict": "^3.0.0"`

[code]

[code]

[2017-05-11 11:31] eduardoboucas opened #204 "validate() works with loadFile(), not load()"
I'm trying to load a config block with a property that is not in the schema, using strict validation.

If I do this, an error is thrown, as expected:

[code]

If I do this, no error is thrown:

[code]

Is this expected behaviour? If so, is there a reason for that? If not, I'm more than happy to work on a fix, if you give me some brief directions on how you'd like this to be approached.

Many thank

[2017-05-11 20:55] elyscape commented on #204
I'm not seeing this behavior. Could you provide a sample test case with a schema and a file?

[2017-05-28 02:16] elyscape commented on #193
Apologies for the delay.

I think we should probably keep the checks (that is to say, the places where we throw exceptions) confined to `validate()`, as they currently are, but we should revamp how `validate()` operates. Right now, it recursively iterates over the keys of `instance` and checks them against the schemes. Instead, it should recursively iterate over the keys of the schema and check th

[2017-05-31 03:05] wjagodfrey opened #205 "Array default becomes Object"
Hi there,

I have this schema:
[code]
Evaluating to:
[code]

in both  `convict@1.5.0` and `convict@3.0.0`

Seems like a bug but I thought I'd check.

Wilfred

[2017-05-31 03:12] wjagodfrey commented on #205
Actually, this is my fault. Apologies.

[2017-05-31 03:12] #205 closed

[2017-05-31 22:16] elyscape commented on #193
@madarche I have reworked `validate()` as I described in my previous post. Please take a look at #206 when you have a chance.

[2017-06-01 07:14] madarche commented on #193
@elyscape I've read the Convict's comments of the last 2 weeks but had no time to do anything else than just read 😢. I'll have more time to devote to Convict middle of next week.

[2017-06-01 17:47] elyscape commented on #193
No worries! Just making sure you saw it.

[2017-06-06 16:51] casba opened #208 "Readme precedence lists load as being equivalent to set"
The readme for 3.0.0 states:

But as per the code and the conversation in issue #50 config.load appears to be at the precedence level of config.loadFile, not config.set.

[2017-06-13 19:40] #193 closed

[2017-06-13 19:43] elyscape commented on #201
@madarche We should be good to go for convict@4.0.0 now.

[2017-06-13 20:07] madarche opened #209 "Remove the npm-shrinkwrap.json file?"
After reading http://blog.npmjs.org/post/161627993435/learn-more-about-npms-lockfiles it seems that we should remove the `npm-shrinkwrap.json` file in Convict.

I like the added value of a npm-shrinkwrap.json file, especially in a "top level" app, but for Convict it's bringing more hindrance (see [CONTRIBUTING](https://github.com/mozilla/node-convict/blob/2f623bb/CONTRIBUTING.md)) than benefit (Co

[2017-06-13 20:23] pdehaan commented on #209
/cc @jrgm

The thing about `package-lock.json`, is that I think it'd only apply if people are using npm 5 or later.

[2017-06-13 20:31] elyscape commented on #209
@pdehaan That is true. It also only applies when installing at a top level (i.e. you go into the repo and run `npm install`). Still, `npm-shrinkwrap.json` has the potential to cause conflicts for downstream consumers of the library, which I think is something that we should try to avoid.

[2017-06-14 12:23] madarche commented on #209
@pdehaan to be explicit: the idea here is to remove the `npm-shrinkwrap.json` for convict@4, and not to add `package-lock.json` nor `yarn.lock`.

Adding `package-lock.json` and `yarn.lock` would be nice for developers, but it's not the point of this ticket. Moreover, even if I follow node@8 and npm@5, I haven't switched to them yet. I'm waiting a bit more.

[2017-06-21 18:14] pdehaan commented on #209
Yeah, I'm fine w/ killing npm-shrinkwrap.json in a library if it isn't being helpful. :fire::fire::fire:

I tried searching but couldn't find any solid answers on if shrinkwrap is meant primarily for applications vs modules. I think the best advice I found was to add npm-shrinkwrap.json to the .npmignore file so it doesn't get published to the registry and affect downstream users.

[2017-06-22 07:24] madarche commented on #209
Roger @pdehaan

I agree with you that *no npm-shrinkwrap.json in a library* is not really documented anywhere seriously. At this time [the blog post I was referencing](http://blog.npmjs.org/post/161627993435/learn-more-about-npms-lockfiles) has even been unpublished 😕 This article was the most solid piece of literature on the subject I knew, and, still, this was only advices explained as a cartoon

[2017-06-22 16:32] #209 closed

[2017-06-22 17:12] madarche commented on #201
@vladikoff could you publish convict@4.0.0 on NPM please?

convict@4.0.0 is tagged, the tag is pushed and the CHANGELOG has been updated.

Thanks!

And also a big thank you to @twitchard and another big big one to @elyscape for all the wonderful work 👍

[2017-06-22 22:46] elyscape commented on #201
Looks like convict@4.0.0 is on NPM now! This should be good to close.

[2017-06-22 23:07] #201 closed

[2017-06-22 23:07] vladikoff commented on #201
done!

[2017-06-23 06:48] madarche commented on #201
Thank you @vladikoff 😃

[2017-07-03 18:30] bdfoster commented on #203
[code]
You need to specify `arg` in your schema.

[2017-07-03 18:31] #203 closed

[2017-07-04 14:20] hokisimi opened #211 "Precendence order"
Precendence order

I try to test Windows, but do not work following.

**When merging configuration values from different sources, Convict follows precedence rules. The order, from lowest to highest, is:

1.Default value
2.File (config.loadFile())
3.Environment variables
4.Command line arguments
5.Set and load calls (config.set() and config.load())**

In Mac computer Precendence order is work well,

[2017-07-11 09:36] madarche opened #212 "Move away from minimist to yargs-parser"
As written by @elyscape in https://github.com/mozilla/node-convict/pull/199#issuecomment-291310980:

Move away from [minimist](https://www.npmjs.com/package/minimist) for argument parsing, as it appears to be unmaintained, not having received an update since 2015. [yargs-parser](https://www.npmjs.com/package/yargs-parser) seems to be a largely drop-in successor, which also provides the ability to

[2017-07-11 14:31] vladikoff commented on #212
👍

[2017-07-12 23:30] mmcgahan opened #213 "Object config values result in warning about undeclared properties"
It looks like the new `flatten` function over-flattens properties that are intended to be arbitrary `Object` values.

**Expected behavior**

A config value that is declared to have an `Object` format should accept an object with arbitrary keys without printing a warning

**Actual behavior**

A warning will be printed for each key inside an object that is assigned to an 'Object' config key.

**Test

[2017-07-17 16:16] tomsiwik opened #214 "Setting environment variables in arrays"
Hi there.

I'm currently trying to set up my `hapi` server to handle different config files while still beeing able to adjust a port number through environment variables.

I've published a [gist](https://gist.github.com/tomsiwik/39776fa70621e920318e738db57d824f), hopefully someone has little time to spare to look into it.

My problem is, running `NODE_ENV=test PORT=3333 yarn start` results in the

[2017-08-22 22:04] elyscape commented on #214
With an environment variable, how would you specify multiple ports? Alternatively, if your array has multiple objects, would setting the environment variable `PORT` to `3333` set that value for all objects in the array?

[2017-08-30 11:34] mmcgahan commented on #213
Finally got a PR up - #215

[2017-09-12 16:52] #213 closed

[2017-09-14 11:30] #212 closed

[2017-09-14 12:12] madarche opened #221 "Publish convict@4.0.1 on NPM"
I think this is a good time to publish convict@4.0.1 on NPM.

Please add your reaction. If there isn't any `-1`, the new version will be tagged on Sunday.

PS: I'm working on the CHANGELOG file so all the good work done is documented

[2017-09-17 19:09] madarche commented on #221
@vladikoff could you publish convict@4.0.1 on NPM please?

convict@4.0.1 is tagged, the tag is pushed and the CHANGELOG has been updated.

Thanks!

[2017-09-28 00:41] mojavelinux commented on #125
The lack of short arguments is a pronounced deficiency. It's much more common to use short arguments (single hyphen) than to use the long form. convict is going way against the grain (esp in the Unix world) by only having support for long arguments.

[2017-09-28 00:47] mojavelinux opened #222 "Support passing argv and env as arguments to convict function"
The convict function should accept argv and/or env as arguments instead of relying exclusively on the process.argv and process.env globals. The benefit of adding these arguments is that it makes convict unit-test friendly and it allows convict to be used outside of a cli environment (for example, in an IDE).

Here's the current workaround:

[code]

While this works, it's quite a crude workaround.

[2017-09-28 01:17] mojavelinux commented on #222
If this idea is accepted, I'd be happy to do the work of implementing and testing it.

[2017-09-28 09:48] madarche commented on #222
I find the idea appealing and that should not complexify the code base. So go ahead please @mojavelinux

[2017-09-28 09:54] madarche commented on #125
I'm not opposed to the idea of support short arguments.And now, with all the wonderful work of @elyscape and especially the 100% code coverage, we can consider adding new features.

As for the syntax, I would be more in favor of something like:

[code]

Ideas, discussions welcome!

[2017-09-28 21:49] mojavelinux commented on #222
:clap:

I'm on it.

[2017-09-29 07:16] mojavelinux commented on #222
PR sent!

[2017-09-29 08:55] mojavelinux commented on #222
I realized it might be better to define args and env in an options hash instead of as positional parameters.

[code]

Would you prefer that signature? If so, I'll make the update.

[2017-09-29 12:38] madarche commented on #222
I'm sorry @mojavelinux, reading your PR I realize I may have spoken too fast: at the moment convict can already be used outside a CLI environment, doesn't it? One just has to load an object cf. [config#load(object)](https://github.com/mozilla/node-convict#configloadobject):
[code]

Couldn't it do the job in your case?

[2017-09-29 12:58] vladikoff commented on #221
Done! Sorry for the delay!

[2017-09-29 12:58] #221 closed

[2017-09-29 14:35] oliviertassinari opened #224 "4.0.1 regression"
It seems that the `default` is no longer respected as soon as we use an `env` key and this value is missing. I haven't looked to much into the issue. Maybe someone else will. I'm reverting to `4.0.0`.

[2017-09-29 18:18] mojavelinux commented on #222
No. I consider these two very different things. What I'm proposing is to be able to simulate / control the environment in which convict loads. In other words, I want it to be able to prevent it from using process.argv or process.env at any point (no globals).

If I fully expand the example you gave:

[code]

then it's still considering the process arguments, as you can see by running:

[code]

Tha

[2017-09-29 18:25] mojavelinux commented on #222
Btw, I updated the PR to use an options hash instead of positional parameters. That seems more JavaScript like.

[2017-09-29 18:29] mojavelinux commented on #222
I want to clarify why that matters. If I use convict inside of an application which itself has it's own process arguments and environment variables (which may in turn use convict), then using convict internally for a separate concern gets coupled to the process environment of the executing program.

It's also useful in a unit test environment where it's necessary to simulate a process environment

[2017-10-13 14:52] agalazis opened #227 "Adapter Support"
Add support for adapters Eg.having a an adapter that returns environment object from aws parameter store

[2017-10-13 14:56] madarche commented on #224
@oliviertassinari can you provide an example please?

[2017-10-16 09:27] oliviertassinari commented on #224
@madarche For instance, the `convict.get('session.secret')` isn't present with `v4.0.1` but is with `v4.0.0`.

[code]

[2017-10-19 15:31] markFromMST opened #228 "Create a JSON schema for the config file format so that tooling can verify convict JSON"
If you leave out a default on an item in the convict JSON, it will not work.  If there was a schema that defined a proper convict JSON file that included defining that default is mandatory, and that doc, format, env are whatever they should be in terms of optional/required and also type, then editors such as WebStorm could be used to edit the JSON and verify it and assist with writing it correctly

[2017-10-20 21:51] Areks opened #229 "Incorrect validation"
If i define type like:
[code]
And then in conf.json set object to logging.file
[code]

because you in validation you check **default** value in scheme, but when i set **'*'** any format, i can have any type of value. Also format can be set as function and types of allow values can be different too.

[2017-10-28 03:25] kevinoneill commented on #224
I think this is to do with #217 which changes the behaviour of empty string from triggering the default to supplying the empty string.

In my case, the `4.0.0` ->  `4.0.1` update was a generated as part of a `yarn install` that updated convict as a side effect.

A change like this (even if it represents a bug fix) should have been flagged as breaking.

[2017-10-31 12:31] yurtaev commented on #136
Any updates? I have the same problem as @Xerkus

[2017-11-03 11:58] oliviertassinari commented on #224
@kevinoneill I think that you are right. I'm running node-convict in a docker environment. I have the following warning: `The SESSION_SECRET variable is not set. Defaulting to a blank string.`. With the new behavior of the project. I do no longer see the default value set.

[2017-11-22 09:36] mika-fischer opened #230 "Unable to set options to zero or empty string via command line"
This is with version 4.0.1.

Try with `index.js`:
[code]
and
[code]

[2017-11-23 21:56] wyattjoh commented on #128
Here's a great situation where having an array would be useful.

I have two config parameters: `cookie.name` (`process.env.COOKIE_NAME`) and `cookie.signing_name` (`process.env.SIGNING_COOKIE_NAME`).

The behavior I want to capture is when `process.env.COOKIE_NAME` is provided, and `process.env.SIGNING_COOKIE_NAME` is not, I want to set `cookie.signing_name` to `process.env.COOKIE_NAME`.

Without

[2017-11-30 09:02] madarche opened #232 "Publish convict@4.0.2 on NPM"
@vladikoff could you publish convict@4.0.2 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the  [CHANGELOG](https://github.com/mozilla/node-convict/blob/master/CHANGELOG.md) has been updated.

Thanks!

[2017-11-30 15:02] vladikoff commented on #232
Done!

[2017-11-30 15:02] #232 closed

[2017-11-30 17:20] madarche commented on #232
Thanks @vladikoff!

[2018-01-04 16:59] Helias-Criouet opened #233 "Object config values result in warning about undeclared properties"
Hello,

I would like to suggest a small improvement over #213 from @mmcgahan.

We use multiple custom formats that are in the end nothing more than objects that we would like to validate in a specific way. We are receiving warnings when loading the base schema and not even loading configurations on top of it. Here's an example:

[code]

Since `foo` is after all an object, we believe that the warni

[2018-01-07 09:34] madarche commented on #228
Hello @markFromMST, are you talking about a *generic* Convict JSON schema that would match any config file, or about a *dynamic* generation of a JSON schema for each given config format?

Sorry for the long delay in answering and everything. Time is too short 😕

[2018-01-10 14:20] leftieFriele opened #235 "support protocol relative urls"
Currently you have to implement a custom validation function in order to use protocol relative urls when using the url format in convict. The validator package supports the option [allow_protocol_relative_urls](https://github.com/chriso/validator.js/blob/master/src/lib/isURL.js#L15) when validating urls.

I know similar requests have been closed (#170, #93]. As far as I can tell adding this option

[2018-01-11 14:50] agalazis commented on #227
just forget about it is already doable since you  can load properties on top here is my library for example: https://github.com/agalazis/ssm-params-convict-adapter

[2018-01-12 09:37] nielskrijger opened #236 "Enhancement: YAML file support"
I've been using Convict since I started with Node.js and any backend project I worked on I've migrated towards it when possible. Just love this library!

Because my last projects all used OpenAPI (swagger) and Kubernetes I've been using YAML a lot. It made sense there to migrate the config files to YAML too.

The problem was `convict.load(...parsed yaml contents...)` does not have the same priorit

[2018-01-19 16:28] jaawerth commented on #236
Similarly, I like using [TOML](https://github.com/toml-lang/toml) format for my config files for better human writability than JSON, as well as the occasional YAML...

Rather than supporting specific alternate formats, what I think would be nice is either an `addFileType(extension, { parse })` method, or add a second argument to `loadFile` along the same lines as the optional second argument to nc

[2018-01-22 03:57] ncjones opened #237 "Dynamic default values"
I'd like to be able to define config defaults in terms of other configs. For example, the schema could allow a variable expansion syntax like the following:

[code]

In the above case the call to `config.get('baseUrl')`, with no other configs defined, would return `'http://test.my-domain/'`.

[2018-01-25 01:36] mojavelinux commented on #222
I want to reiterate why this change is so important. If I use convict within another environment, such as within an IDE, a web framework, or a test suite, convict is looking at the process environment that launched the original process. That has nothing to do with the user input I'm trying to use it to process and validate. This prevents convict from being a reusable / portable library and instead

[2018-01-25 01:54] mojavelinux opened #238 "How do I specify a schema for array items?"
In my application, I want to allow multiple items to be specified for a property. A good example of this is a list of data sources.

[code]

How do I specify a schema for each item? The best I can do is specify that the `sources` key takes an Array.

[code]

Do I need to use a custom format?

[2018-02-05 19:32] unlight opened #239 "yargs-parser dot-notation option is enabled by default"
https://github.com/yargs/yargs-parser#dot-notation

[code]
[code]
[code]
Because `argv` is object = `{database: {name: 'db'} }`
`if (argv[argStr])` is always false.

[2018-02-05 19:34] unlight opened #240 "Cannot use dot in arg, yargs-parser dot-notation option is enabled by default"
https://github.com/yargs/yargs-parser#dot-notation

Part of schema:
[code]
CLI:
[code]
Because `argv` is object = `{database: {name: 'db'} }`
`if (argv[argStr])` is always false.

Fix or mention such behavior in documentation.

[2018-02-05 19:34] #239 closed

[2018-03-10 22:23] rocketspacer commented on #236
Is this project dead?

[2018-03-15 13:19] #233 closed

[2018-03-15 13:28] madarche commented on #236
Let's not add every file format to convict, but as suggested by @jaawerth add pluggable parsers. PR welcome.

@rocketspacer: the project is not dead, it's just stable, security updates are taken care of, and the project is also complex so we need to think twice before adding anything to the code.

[2018-03-15 13:56] madarche opened #243 "Publish convict@4.1.0 on NPM"
@vladikoff could you publish convict@4.1.0 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the [CHANGELOG](https://github.com/mozilla/node-convict/blob/master/CHANGELOG.md) has been updated.

Thanks!

[2018-03-15 14:44] rocketspacer commented on #236
Glad to hear that. This project is my most favorite when it comes to dealing with configurations. Really hoping to see improvements coming.

[2018-03-16 15:35] vladikoff commented on #243
Done https://www.npmjs.com/package/convict

[2018-03-16 15:35] #243 closed

[2018-03-16 15:49] madarche commented on #243
Thanks a lot @vladikoff!

[2018-03-20 13:25] madarche commented on #236
Fixed by #244

[2018-03-20 13:25] #236 closed

[2018-03-20 13:27] #227 closed

[2018-03-23 11:33] madarche opened #245 "Publish convict@4.2.0 on NPM"
@vladikoff could you publish convict@4.2.0 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the CHANGELOG has been updated.

Thanks!

[2018-03-23 16:09] vladikoff commented on #245
Done!

[2018-03-23 16:09] #245 closed

[2018-03-23 16:12] madarche commented on #245
Thank you @vladikoff!

[2018-03-27 08:52] mojavelinux commented on #230
This is basically the same issue that happened with environment variables. See https://github.com/mozilla/node-convict/commit/4e0ea03c481ceb4734f6aff5d2c0d2f98e1280a9 for a related fix.

[2018-03-28 22:43] mojavelinux opened #247 "Allow the default / fallback parser to be specified"
If a parser is not found for the extension of the file passed to `loadFile`, convict currently defaults to using the json5 parser (primarily for backwards compatibility). However, this can lead to cryptic errors that are hard to handle.

A better approach would be to allow a parser to be registered with the wildcard extension (i.e., `*`). This wildcard parser would then get used when no parser is

[2018-03-28 22:54] mojavelinux commented on #247
The only thing that strikes me as strange is that convict will still read the file if the file type even when the file type is not supported (the parse function throws an error). I wonder if there's a way we could provide a hint that the file should not be read at all.

[2018-04-20 03:40] vanthiyathevan opened #249 "Allow array for get function argument"
Would be nice to do `conf.get(['some', 'nested', 'key'])`. This allows for type-checking with typescript and flow.

[2018-04-26 04:51] et commented on #140
Hi from the future. @damnhipster would [git-crypt](https://github.com/AGWA/git-crypt) work for your use case.

[2018-05-09 22:48] jonaskello opened #250 "Cannot use dot in keys when using Object format"
I have a case where an URL is a key in an object that is a default value for a setting. Something like this:

[code]

This fails to validate with this error:

[code]

I guess it is becuase convict supports dot notation in the string sent to `get()` which gets confusing when the keys also have dots. Is there a workaround for this so we can use URLs as keys?

[2018-05-10 16:48] jonaskello opened #251 "Require a setting to be provided by the environment (passwords etc.)"
I'm thinking the case of a 12factor app where for example the database password is in the environment. We don't want to commit the production password to the config schema. Currently there seems to be no good way to declare that a setting is required to always be set from the enviroment although this is AFAIK best practice. In development you set it from a .env file that is not committed. This is

[2018-05-16 12:34] burakkarakus opened #252 "Cannot invoke an expression whose type lacks a call signature. Type 'typeof convict' has no compatible call signatures."
I am using TypeScript 2.4.0 with type/convict 4.2. I can't use below code because of the error I stated in the title.

`const conf = convict({
  env: {
    doc: 'The applicaton environment.',
    format: ['production', 'development', 'test'],
    default: 'development',
    env: 'NODE_ENV'
  }});`

`console.log(conf.env.doc);`

Error: doc: must be of type String

[2018-05-17 05:35] #252 closed

[2018-05-17 09:19] polco opened #253 "Empty config (yaml) files make convict crash"
Loading an empty yaml as config using `config.loadFile` triggers an error.
I'm using js-yaml as parser. The code blows up in convict:
[code]

[2018-05-17 23:55] theRemix opened #254 "Validate the schema to require defaults"
Default values are required for every config key.
If a default value is not set, convict does not throw a validation error.

If there are any missing `default` keys, `config.validate()` should throw a validation error.

[2018-05-21 22:09] noderat commented on #250
I'm having this problem with String type as well. It looks like this isn't specific to Objects.

[2018-05-22 12:08] i0natan commented on #251
+1

[2018-05-22 13:22] drzaiusx11 commented on #251
+1

[2018-05-25 13:11] williansouzagonc commented on #211
I have same issue as you, but i'm using mac.

[2018-05-26 07:33] #247 closed

[2018-05-26 07:40] #230 closed

[2018-05-26 08:01] madarche commented on #251
@jonaskello I agree that this would be a good feature as it would allow to follow the best practice you're mentioning.

So to anyone interested, please propose a PR for this feature, it will be very welcome!

[2018-05-26 08:14] madarche commented on #250
Sorry @jonaskello, no workaround that I know of.

The way convict parses all the objects is too complicated. This part is getting hard to maintain. The problem you are mentioning is a proof of it. A very good part of convict is the thorough tests which provide the needed cover and confidence when we modiy convict. A good thing would be to rewrite the whole parsing of objects. Taking advantage of E

[2018-05-29 07:18] #222 closed

[2018-06-02 08:12] madarche opened #256 "Publish convict@4.3.0 on NPM"
@vladikoff could you publish convict@4.3.0 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the CHANGELOG has been updated.

Thanks!

[2018-06-02 08:15] madarche commented on #256
@mojavelinux, it's coming 😊

[2018-06-02 08:32] mojavelinux commented on #256
So excited!

[2018-06-04 07:48] madarche commented on #256
Thank you @vladikoff!

[2018-06-04 07:51] #253 closed

[2018-06-06 08:20] AutomatedTester opened #258 "upgrade dependency for hoek"
There is currently a security warning for the version of hoek used. Please upgrade of if the code isnt used anymore please remove

[2018-06-06 09:06] madarche commented on #258
Hello @AutomatedTester. I would love to get rid of [this hoek vulnerability](https://nodesecurity.io/advisories/566) report (for others, do `npm audit` to view the report). But it's present in the `coveralls` NPM package, which we have to its latest version. So there's nothing we can do for it easily right now.

That said, `coveralls` is a *devDependency* that you get only when you develop convict

[2018-06-07 08:09] AutomatedTester commented on #258
@madarche please raise an issue on coveralls and link it to this issue. Currently that vulnerabilty is being reported in the Github security emails generated weekly

[2018-06-07 08:26] madarche opened #259 "Publish convict@4.3.1 on NPM"
@vladikoff could you publish convict@4.3.1 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the CHANGELOG has been updated.

Thanks!

[2018-06-07 16:29] madarche commented on #224
A PR with the corresponding test is welcome.

[2018-06-08 16:38] nnashok opened #260 "Add new API to get non-default config values"
Many times, we have configuration files that set (or override) only a subset of the configuration and uses the default values for the rest. If I want to a new configuration file with additional overrides, or want to find out the values that I set (or overrode), its not straightforward as `convict.toString()` returns all the configuration including values that are default.

Proposal: Add a new `con

[2018-06-26 20:19] nathanph commented on #211
The [`load` function](https://github.com/mozilla/node-convict/blob/master/lib/convict.js#L588) suggests that environment variables and arguments always take precedence. This seems like a sane precedence to me but the documentation currently indicates a different precedence and should be updated to reflect what the code is actually doing. If the precedence is going to change, which I don't think sh

[2018-06-28 17:11] madarche commented on #259
Hello @vladikoff, anything preventing this publishing?

[2018-06-28 18:11] vladikoff commented on #259
@madarche done, sorry, somehow lost the notification of this :(

[2018-06-28 18:11] #259 closed

[2018-06-29 12:43] madarche commented on #259
Thanks @vladikoff !

[2018-07-04 02:00] mojavelinux commented on #224
If the environment variable is present and the value of the variable is empty string, the config value should be set to empty string. If the environment variable is missing, the default value should be used. Is that the correct assumption?

[2018-07-04 03:03] kevinoneill commented on #224
Seems right to me.

[2018-07-04 05:58] mojavelinux opened #262 "Pass the name of the property being assigned to the custom coerce function"
Pass the name of the property to which the value is being prepared to the custom coerce function. This will allow the function to look up the old value and append the new value to it instead of overwriting it. This can be useful for config properties that hold a collection of data.

Example:

[code]

The main use case for this is binding the config property to an argument that can be specified mul

[2018-07-04 07:29] madarche commented on #262
Hello @mojavelinux. Presently my time is too short to be able to calmly think on issues. So please could you elaborate a bit more: are you requesting approval on a proposed change before submitting the corresponding PR?

[2018-07-04 07:37] madarche commented on #258
It should be fixed by the convict@4.3.0 release. Please comment if it's not the case.

[2018-07-04 07:37] #258 closed

[2018-07-04 07:55] mojavelinux commented on #262
Correct. I am floating the idea before I commit time to implementing it. This feature would be really useful for the project I'm working on that uses convict for config.

[2018-07-04 08:01] madarche commented on #262
OK. I'll take time to think about it and will report back here. Don't hesitate to invite other active users of convict into the discussion!

[2018-07-04 08:02] mojavelinux commented on #262
This seems to be a pretty low-impact change because we're simply adding another optional argument for the coerce function to accept.

[2018-07-04 08:04] madarche commented on #262
Understood.

[2018-07-04 13:06] salper commented on #224
Well... That is the regression. Previously, a `FOO=` would use the default value. Since the patch, it overrides the default value. Some services which rely on declaring statically environment variables like docker-compose are impacted by this kind of changes.

[2018-07-05 07:22] mojavelinux commented on #262
I sent a PR.

[2018-07-05 07:38] mojavelinux commented on #224
I agree this change warranted a major version. At this point, though, there are probably users relying on both behaviors, so that's water over the damn. What we need to decide is how to move forward.

If the decision is made to rollback, there still needs to be a way to unset a config value using an environment variable as the environment variable is the last resort to override a value. One option

[2018-07-07 06:39] binarymist opened #264 "Regular Expression Denial of Service (ReDoS)"
Details here https://snyk.io/test/npm/convict/4.3.1

[2018-07-18 21:06] ddlees commented on #264
It's not a high priority issue for my team but it is showing up in our vulnerability scans. Any help here would keep my security officer quiet 😜

[2018-07-18 21:46] binarymist commented on #264
Have added it to my backlog, see who gets there first.

[2018-07-19 09:05] #264 closed

[2018-07-19 09:33] madarche opened #265 "Publish convict@4.3.2 on NPM"
@vladikoff could you publish convict@4.3.2 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the CHANGELOG has been updated.

Thanks!

[2018-07-19 09:35] madarche commented on #264
Thanks for the heads up!

[2018-07-19 13:53] vladikoff commented on #265
Done!

[2018-07-19 13:53] #265 closed

[2018-07-19 14:41] madarche commented on #265
Thanks @vladikoff!

[2018-07-30 14:26] ignaciocavina opened #266 "Don't cache configs from env"
Could we flag an env-based config so that it is forced to always be read over from then env variable it is tied to? Right now it seems it only reads it upon startup, and keeps it value forever. The use case for this is to change a config during execution.

[2018-07-31 18:24] BananaAcid opened #267 "showing commandline help"
There is no mentioning anywhere how to show a commandline help - or if it has to be implemented manually.

[2018-08-08 12:46] brikis98 commented on #252
@burakkarakus How did you resolve this issue?

[2018-08-23 15:56] PatrickShaw commented on #240
Added two PRs that fix this issue.
The first approach is faster - Disables yarg-parser's dot-notation parsing option.
#269

The second approach is slightly slower - Splits node-convict's `argStr` by `"."` and traverses the object returned from yarg-parser.
#270

[2018-08-23 16:56] bugeats commented on #237
Would this be better implemented with a hook function instead of string interpolation?

[2018-09-06 12:58] shane-tomlinson opened #271 "Error thrown if Object type default value has a property with a period"
This test case fails:

[code]

blocks mozilla/fxa-content-server#6445

[2018-09-06 12:59] shane-tomlinson commented on #271
blocks mozilla/fxa-content-server#6445

[2018-09-17 04:16] PatrickShaw commented on #240
#269

[2018-09-17 13:31] madarche commented on #240
Fixed by #269.

[2018-09-17 13:31] #240 closed

[2018-09-22 13:56] #262 closed

[2018-09-22 17:38] madarche opened #272 "Publish convict@4.4.0 on NPM"
@vladikoff could you publish convict@4.4.0 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the CHANGELOG has been updated.

Thanks!

[2018-09-23 01:11] vladikoff commented on #272
Done!

[2018-09-23 01:11] #272 closed

[2018-09-23 10:11] madarche commented on #272
Thanks @vladikoff!

[2018-10-18 18:52] vladikoff commented on #271
@madarche i think this was fixed in https://github.com/mozilla/node-convict/pull/269 ?

[2018-10-22 06:36] ronkorving opened #274 "Printing documentation"
Thanks for an awesome config library, my new favorite!

How awesome would it be to have an API that would return a human-readable formatted string of the configuration, its meaning and current values?

For example:

[code]

could output something like:

| property | value | doc |
| --------- | ------ | --- |
| http.host | 0.0.0.0 | The host to bind the HTTP server to. |
| http.port | 8080 | The po

[2018-10-22 08:28] madarche commented on #271
@vladikoff at the time of the last release, when I was filling the release notes, I had seen @shane-tomlinson's ticket and checked it against #269. I should have written about it in this ticket, sorry. Unfortunately #269 doesn't solve Shane's provided test :disappointed:

With 55646f62003d61599a9f28e3fd8958a946d541fb I've just added Shane's test.

I've [`skip`-ped the test](https://mochajs.org/#in

[2018-10-22 08:28] madarche commented on #271
@vladikoff at the time of the last release, when I was filling the release notes, I had seen @shane-tomlinson's ticket and checked it against #269. I should have written about it in this ticket, sorry. Unfortunately #269 doesn't solve Shane's provided test :disappointed:

With 55646f62003d61599a9f28e3fd8958a946d541fb I've just added Shane's test.

I've [`skip`-ped the test](https://mochajs.org/#in

[2018-10-22 08:53] madarche commented on #274
Hello @ronkorving. A PR on this subject would be welcome.

[2018-10-23 04:41] ronkorving commented on #274
Thanks, I'm happy to hear that. I'll see if I can find some time to get this going.

[2018-11-22 11:02] jonpacker commented on #254
This just bit us, when doing `config.get('value')`, the configuration object was returned `{ doc: 'Some documentation', format: '*', env: 'TEST_VALUE' }`

[2018-12-15 16:25] madarche opened #276 "Publish convict@4.4.1 on NPM"
@vladikoff could you publish convict@4.4.1 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the CHANGELOG has been updated.

Thanks!

[2018-12-17 15:58] vladikoff commented on #276
Done!

[2018-12-17 15:58] #276 closed

[2018-12-17 16:17] madarche commented on #276
Thanks @vladikoff!

[2018-12-18 10:48] albertoml opened #277 "Library fs moved to another package"
The fs dependency has been deprecated and the loadFile function is not working to get environment files.

[2019-02-05 04:36] molomby commented on #254
On `4.4.1`, when I have no default configured for a value, eg..

[code]

The error I get is..

Which is neither correct (`format` _is_ a function..?) or at all helpful.

[2019-02-05 04:44] molomby opened #278 "Providing a default of `undefined` prevents format from being checked"
The docs are clear that defaults must be supplied and, although the specifics could be improved (#254), not supplying a `default` value usually errors out.

However, if `undefined` is given for a default value and the environment variable is also `undefined`, the format function is never called. This results in bugs like this...

[code]

Tested on `4.4.1`, see [RunKit](https://runkit.com/embed/ktf

[2019-02-05 04:46] molomby commented on #278
If you hit this in your own usage, one workaround is to set a default of `null` instead of `undefined`.

[2019-02-06 22:02] callahad commented on #238
This seems like the sort of thing that should have an easy helper function, but as a workaround, you could define a custom format like this:

[code]

[2019-02-17 17:41] moz-hwine opened #280 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- the wiki has been disabled, as it was not used

These were made as the result of a recent automated defacement of publically writeable wikis.

[2019-02-20 18:47] #280 closed

[2019-02-22 11:53] sr-scott opened #281 "Suggestion: Refactor module into separate files."
I really love the Convict config module. We use it extensively. One problem that we keep running into on new projects is that we have to write manual mocks a lot for integration tests.

This is not a problem but one limitation is that we lose the ability to easily load the config defaults in the same way that Convict does.
My proposal is to extract the schema parsing code into a new file that coul

[2019-02-22 13:53] madarche commented on #281
Hello,

Convict source code is, in fact, now a bit too big for just one file. Convict code has also become too complicated. Refactoring the code into smaller modules is the best that can happen to Convict.

So I would love to see PR in this direction.

Cheers

[2019-03-01 13:03] mendrik opened #283 "Plugins"
would be great if one could add custom plugins where to fetch the variables from.
there is a built-in 'env' property, but it would be great if one could fetch something from somewhere else, like AWS secrets manager.

I would leave it up to the user to implement their own providers, but right now there is only the hardcoded `env` functionality.

[2019-03-03 09:45] mnahkies commented on #267
I was just wondering if this is supported as well - would be great to be able to get a basic automatic help text

[2019-03-06 10:34] irgijs opened #284 "addFormat() can override formats defined by other modules"
The current implementation of the `addFormat` method can result in problems if other packages override a certain format with their own validator. This makes formats unreliable.

Example:

1. I use the 'int' format to make sure certain configuration values are ints
2. I require a package which overrides the 'int' validator with another validator
3. My software no longer correctly validates integers

[2019-03-06 12:27] irgijs opened #285 "I cannot set a coerce function in the configuration schema whereas I can set a format function"
Certain use cases may require a custom validation function which can be passed as value of the `format` property.

Example (copied from the docs).
[code]
However, I cannot define a custom coerce function in the schema.

[code]
I think Convict should have support to define custom coerce methods as this would be more consistent. Moreover, it could be used as a workaround for issue #284

[2019-03-28 03:52] Mozilla-GitHub-Standards opened #286 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-28 19:41] #286 closed

[2019-04-06 20:45] spikying commented on #237
I would also like to use some computed default values, based on real values of other settings.  I have put some workaround, but it would be nice to have the capacity to put a function instead of a static value in the defaults.

[2019-04-08 09:35] bodo22 commented on #125
How is the status  on this issue?

Would a PR with the new key `short` or `shortArg` like @madarche suggested have a chance of being mergen? :)

[2019-04-09 07:19] sohailalam2 commented on #237
Hi guys... any update on this? @ncjones I also have the same requirements, how did manage to get around yours?

[2019-04-09 17:44] ncjones commented on #237
I only use my environment name for dynamic defaults so I just have a special environment variable for this:

[code]

[2019-04-19 07:31] ronkorving opened #288 "Documentation clarification requests"
Hi there,

I really love convict, and find myself a little confused about a few matters when I read the documentation. I've written down my questions, and I'm not seeking answers here in this GitHub issue (although of course that would not be a problem). Rather, I'm hoping that documentation can be clarified permanently.

1. When using config.set(), do validation rules get applied?
2. Can multiple

[2019-05-06 13:47] madarche opened #290 "Publish convict@5.0.0 on NPM"
@vladikoff could you publish convict@5.0.0 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the CHANGELOG has been updated.

And additionally, since this is a major version bump, I have waited for some days (5) before asking you.

Thanks!

[2019-05-06 15:24] vladikoff commented on #290
done!

[2019-05-06 15:24] #290 closed

[2019-05-07 07:21] madarche commented on #290
Thanks @vladikoff!

[2019-05-08 06:41] ronkorving opened #291 "How to set a default after the fact"
I have a project where I put a lot of overridable values into convinct, and a common use-case I encounter is that I want to set default values *late*.

Example:

schema.yml:

[code]

I would like the domain name to default to `${organization.name}.awesomewebsites.com`. The organization-name is not optional; it has to be provided. But the domain-name can be easily derived, yet has a very obvious de

[2019-05-08 09:34] ronkorving commented on #281
@madarche Same! I would love to contribute, but it seems very difficult right now :'(

[2019-05-08 09:41] ronkorving opened #292 "Object format cannot use null-default"
From the ReadMe:

This works for `String` for example, but not for the `Object` format. This is unfortunate (in my case anyway :)), and I was wondering if there is a design-choice underlying this, or if it could be allowed? Thanks!

[2019-05-13 08:19] wcho commented on #211
I prefer load has same preference with loadFile. A use case is an encrypted conf file which is decrypted and consumed by convict. It's also ok that loadFile accepts object not only file path.

[2019-06-11 19:19] ebickle commented on #283
Agree as well - not necessarily broad plugin support, but some sort of "provider" infrastructure. I came here looking for ways to directly integrate S3 configuration management and AWS secrets manager, but it appears all we get is the "out of the box" functionality.

The hardcoded precedence order could be replaced with a default set of providers in a stack.

[2019-06-11 19:53] madarche commented on #283
Good ideas. You are welcome to propose PR.

[2019-07-15 12:33] MacKentoch commented on #252
I guess no answer...
Maybe removed convict or typescript?

[2019-07-18 19:45] cappslock commented on #278
This is actually really useful for trying to implement optional config properties so... thanks!

[2019-07-26 08:36] A-312 opened #293 "npm install -> 16 high severity vulnerabilities"
[code]
Npm audit: https://nodesecurity.io/advisories/1065

Fix: Change the number version in package-lock.json from 4.17.11 to 4.17.15 :
![image](https://user-images.githubusercontent.com/18501150/61938312-15100180-af91-11e9-935e-cf2ae71c63d0.png)

[2019-07-26 08:42] madarche commented on #293
ACK

[2019-07-26 08:51] #293 closed

[2019-07-26 09:14] madarche opened #297 "Publish convict@5.0.2 on NPM"
@vladikoff could you publish convict@5.0.2 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the CHANGELOG has been updated.

Thanks!

[2019-07-26 09:16] madarche commented on #293
@A-312, convict@5.0.2 is in the process of being published, cf. #297

[2019-07-26 10:04] A-312 commented on #297
Hi,

I think that I have covered almost the change i wanted to do.

Can we make a 5.0.3 ? I need my last change #296 for my other repos

Thanks!

[2019-07-26 10:23] madarche opened #299 "Publish convict@5.1.0 on NPM"
@vladikoff could you publish convict@5.1.0 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the CHANGELOG has been updated.

Thanks!

[2019-07-26 10:24] madarche commented on #297
Today is a rather busy day in terms of tags for Convict 😉

Closed in favor of #299

[2019-07-26 10:24] #297 closed

[2019-07-26 10:30] A-312 commented on #299
Thanks!

[2019-07-26 14:08] vladikoff commented on #299
done!

[2019-07-26 14:08] #299 closed

[2019-07-26 14:18] madarche commented on #299
Thanks a lot @vladikoff!

[2019-07-26 14:32] vladikoff commented on #299
You are very welcome!

[2019-07-26 14:52] A-312 commented on #284
I have the same issue for a big project.

A solution is to write something like :

[code]

Example :
[code]

[2019-07-29 08:21] A-312 commented on #238
I made #296 to improve this usage : https://github.com/mozilla/node-convict#custom-format-for-array-items with children key:

[code]

[2019-07-29 15:40] callahad commented on #238
Woohoo! Thank you for your contribution!

[2019-07-30 08:04] i0natan commented on #266
Very useful for testing where you dynamically change config values to assert how the unit-under-test changes accordingly

[2019-07-30 08:20] madarche commented on #266
If you could provide a failing test (like https://github.com/mozilla/node-convict/blob/master/test/validation-tests.js#L226) it would be easier to fix.

[2019-07-31 07:42] A-312 commented on #88
We got the same thing when we use the filepath instead an object with .load().

[2019-07-31 07:47] A-312 opened #300 "`npm test` I got an error with no change but on travis is good"
On Windows with `npm test` and no change on my branch I got:

[code]

And when I PR my branch and check on travis this error doesn't appear.

[2019-07-31 08:00] madarche commented on #300
I have no idea 😕

[2019-07-31 08:34] A-312 opened #303 "Should we add `source-array` like a default format ?"
Hi,

Should i make an PR to add `source-array` (see the README) like a default type ?

https://github.com/mozilla/node-convict/blob/61e8b9b5b6c89ea905fe8cd962492342ea2b1100/lib/convict.js#L415-L441

[2019-07-31 08:46] madarche commented on #303
It's better to strive of extensibility than for extensiveness cf. https://github.com/substack/blog/blob/master/node_aesthetic.markdown

So adding more formats than the basic ones is not desirable.

Please read https://github.com/mozilla/node-convict/issues/144#issuecomment-215178291 and tell if it convinces you.

[2019-07-31 08:56] A-312 commented on #303
I think, i can make a module and update the documentation about `source-array`. It is the same thing

[2019-07-31 09:00] madarche commented on #303
@A-312 That would be great! I think this is the way to go.

And we could use keywords like `convict-plugin`, `convict-plugin-type`.

[2019-07-31 09:10] A-312 commented on #303
like `convict-source-array` ? I don't know how i can call this module

[2019-07-31 09:19] A-312 commented on #300
`sensitive_validation.out` is the only one file with new line, I think it the new line which make an issue on windows

[2019-07-31 09:19] madarche commented on #303
It's needed to have standardized prefixes.

* `convict-plugin` could be the main prefix for everything related to convict plugins
* `convict-plugin-format` could be the prefix for every convict format plugin

So your plugin could be named `convict-plugin-format-source-array`. It's a bit long, but it's eloquent and follows a clear pattern that could be followed by others.

What do you think?

[2019-07-31 09:20] madarche commented on #300
Don't hesitate to remove the new line!

[2019-07-31 09:35] A-312 commented on #303
It is a long prefix, but if we look on Symfony, Symfony uses tag search on github & npm to find public bundles.

[2019-07-31 12:16] #300 closed

[2019-08-03 09:41] janober opened #305 "Make it work with docker/k8s secrets"
Hello,

this library is really great and saved me a lot of time and headache. One issue I however still have is if I want to use it with docker/k8s secrets. If they get used the "secret-data" is made available to the container via q special file. For that reason do many containers have now additional sets of environment variables. The regular one which contains the "secret-data" directly and anoth

[2019-08-03 12:09] janober commented on #305
Ok did now write a simple wrapper for my project to do that. It can be found here:
https://github.com/n8n-io/n8n/commit/13c5f99a7e68786b517b84b4bfd15fe5d10fe041#diff-dd741574890cbb6247da67e8296021edR64

Not sure what you prefer. To integrate that functionality somehow in convict, that you create an own module which wrapps convict or you simply do not care about that functionality at all. Then I ca

[2019-08-04 21:08] A-312 commented on #292
Do you have an example of what you want to do ?

[2019-08-04 21:14] A-312 commented on #7
You can make your own format :

[code]

[2019-08-05 01:50] ronkorving commented on #292
Heh, I wish you had asked in May :) I should've been clearer the first time around, apologies.

iirc, I was hoping to configure a dictionary-style property like:

[code]

I think I wanted that to throw when the configuration was omitted?

[2019-08-05 10:44] ihachani opened #306 "Use Promises with coerce"
Hi, I am trying to use coerce with an async function to decrypt some values on KMS.

[code]

When I try to get the config ```config.get('key').then()``` I get then is not a function
And if I try with await
[code]

I get ```{}``` as the value.

What I want to do is to decrypt values when you read them from the file.

[2019-08-06 01:38] ronkorving opened #307 "Does the format function not apply to getProperties() ?"
I have a property configured like this:

[code]

When loading values with `config.load()`, passing an actual boolean for `myBooleanString`, it comes out as an actual boolean when calling `config.getProperties()`. Should I not have seen the string `"true"`, or `""`?

[2019-08-06 02:11] #307 closed

[2019-08-11 22:36] BourgoisMickael opened #308 "Dead link in Contributing.md"
The Node aesthetic (https://substack.net/node_aesthetic) link returns a `Page not found`.
Maybe you could use this one instead: https://github.com/substack/blog/blob/master/node_aesthetic.markdown
Or maybe you could explain what it is in case the other link dies too

[2019-08-11 23:07] BourgoisMickael opened #309 "Current value not printed on error when the type is different"
For the format `port` and `nat` if the value is not an integer, the faulty value is not appended to the error message.

Example of normal behavior:
[code]
The output is:
[code]

However if I put a string instead:
[code]
The output is:
[code]
But it should be:
[code]

[2019-08-11 23:36] A-312 commented on #309
[e.value](https://github.com/mozilla/node-convict/blob/a256dc7a6d072f9090c6b78b6fe48c6ec59e8fcd/lib/convict.js#L655) returns NaN when port is a string because coerce function convert value with [parseInt](https://github.com/mozilla/node-convict/blob/master/lib/convict.js#L419).

[2019-08-13 22:40] BourgoisMickael commented on #309
Ok I understand, and I guess it adds to much complexity to keep the value from the input before it is coerced and print it in the error message. I close the issue

[2019-08-13 22:40] #309 closed

[2019-08-15 12:38] zuzak opened #311 ".get() could optionally redact sensitive configs"
The `sensitive` property is nice.
However, at the moment it only gets used when you call `.toString()` on the entire schema.

It would be really nice if I could optionally redact on `.get()`:
[code]
or otherwise expose the sensitivity of a cvar somehow, so I can check whether the configuration variable is sensitive prior to disclosure to a user.

[2019-08-15 12:43] madarche commented on #311
+1 for this functionality

[2019-08-15 23:34] brettneese commented on #305
@janober you can also leverage the `config.load()` method: https://github.com/mozilla/node-convict#configloadobject. I'll send you a more full fledged example when I get a chance to write one up.

[2019-08-15 23:38] brettneese commented on #283
I had a PR for this (#273), but what I just realized is that you can leverage the convict.load() method for this by passing in a function that returns an object. I already have an SSM provider, but I'm working on modifying it to support native `convict`. You can add custom keys to your config (ie "providerPath: '/blah'" ) to do this, `convict` won't mind.

[2019-08-16 04:47] janober commented on #305
Hi Brett! Thanks a lot for your answer! Am however not sure how that would help me exactly with the problem I am facing. Guess the example later will make it clear. Have a great day!

[2019-08-16 07:16] A-312 commented on #308
@madarche this is issue is done

[2019-08-16 08:39] zaverden commented on #305
@brettneese I'm not sure if `config.load()` can be efficiently applied in this case since it requires to duplicate info about config structure.

@janober I have created [loadFromEnvFiles(config)](https://github.com/zaverden/convict-env-file/blob/master/config/loadFromEnvFiles.js) function. And [here is an example of usage](https://github.com/zaverden/convict-env-file/blob/master/config/index.js).

[2019-08-16 10:34] A-312 commented on #211
@madarche this issue should be closed

This issue/problem is not reproductible on Windows, I tried :

[code]

I got :

[code]

[2019-08-16 10:37] A-312 commented on #305
I watch @zaverden example, I think convict should be try to load file if `schema.file` is defined. We should add file loader in the schema parser like we doing for : env, arg.

[code]

Or allow custom getter :

[code]

An we should allow to set custom priority level : https://github.com/mozilla/node-convict/blob/master/lib/convict.js#L600-L601

| Priority level | Getter |
| - | - |
| 0 | Default v

[2019-08-16 22:36] brettneese commented on #305
@zaverden Why? Just create an object with your schema and pass it to the function in `load()`. IE:

[code]

@janober Here you [go](https://runkit.com/brettneese/simple-convict-load-example). More context [here](https://runkit.com/brettneese/simple-convict-load-example). I can't imagine it would be too difficult to hack the code @zaverden provided into the "provider" function in my example and as a

[2019-08-18 05:28] A-312 opened #312 "Add regex at name for addFormat ?"
Can I add a regex system for the name property ? Like this:

[code]

After my change, name will accept `str` and `regex`.

Usage:

[code]

[2019-08-18 22:28] A-312 commented on #303
I wonder if formats with `validator` package should be exported in dependencies ?

[2019-08-18 23:17] A-312 opened #313 "Custom Getter"
We should allow to set custom getter to add more choice between `env`, `arg` and `.load(`.

## Example: Custom Getter for file

[code]

## Custom priority level

And we should allow to set custom priority level : https://github.com/mozilla/node-convict/blob/master/lib/convict.js#L600-L601

| Priority level | Getter |
| - | - |
| 0 | Default value |
| 20 | File or json set in function argument |
|

[2019-08-19 10:50] zaverden commented on #211
@A-312 your example confirms this issue.

According documentation `config.load(..)` has maximum priority. So, your example should always print `{ port: 58 }`. But you can see that argument and environment have higher priority.

I believe that it is documentation issue, because [this comment](https://github.com/mozilla/node-convict/blob/61e8b9b5b6c89ea905fe8cd962492342ea2b1100/lib/convict.js#L599)

[2019-08-19 10:53] zaverden commented on #305
@brettneese thank you for interesting idea with `loader`. I will try to make something useful from it, but at the moment I see one big downside:

If `provider` gets whole schema object then I have to implement deep-walk logic (which is not a big problem) and make it consistent with `convict` logic (more specific: how to check that I don't need to go deeper). It would be great if `convict` could ex

[2019-08-19 11:24] A-312 commented on #211
I read [a new time](https://github.com/mozilla/node-convict/tree/61e8b9b5b6c89ea905fe8cd962492342ea2b1100#precendence-order), you have right 😕 But, in some cases we should `.load(` to be before or after env and arg. Maybe we should add an new argument to avoid a break change.

Or allow `.set(` to get an object in first parameter :

 - config.set(name, value)
 - config.set(object)
     - object({na

[2019-08-19 12:15] zaverden commented on #211
@A-312 this logic lives [for 8 years already](https://github.com/mozilla/node-convict/blame/61e8b9b5b6c89ea905fe8cd962492342ea2b1100/lib/convict.js#L599). As I see the only problem here is wrong documentation.

In addition I want to say that `config.set()` order is not obvious too. In #314 I have added an example how it can be overridden though it's original order is 5.

[2019-08-20 04:13] #303 closed

[2019-08-20 16:15] brettneese commented on #305
@zaverden No problem! :)

I'm actually working through that problem right now. It probably doesn't make sense to expose that via Convict itself, but it might make sense to pull that part of the code out and into it's own little npm module for people building custom providers like this to use.

[2019-08-23 15:10] terlar opened #317 "Drop dependency on moment.js?"
Would it be possible to drop the dependency on `moment`? I want to use `node-convict` in a smaller project, but the fact that it depends on moment which pulls in quite a substantial amount of code I have to second guess if I can use it. Perhaps some smaller date function library could replace it?

I also noticed yargs, which seem to have a limited use, what is it used for today?

Thanks for a very

[2019-08-23 15:25] A-312 commented on #317
![image](https://user-images.githubusercontent.com/18501150/63603879-c58e1700-c5ca-11e9-97dc-9cb2f825e0c9.png)

It only dev dependencies : https://github.com/moment/moment/blob/develop/package.json#L39

[code]

[2019-08-23 19:08] terlar commented on #317
I meant moment itself:
[code]

It is quite a substantial amount for smaller things.

[2019-08-25 22:51] brettneese commented on #317
I looked into this at one point. The ideal thing to do here would be to replace Moment with `[dayjs](https://github.com/iamkun/dayjs)`, which is designed to be a lighter but API compatible drop-in replacement. Unfortunately, `dayjs` doesn't yet support [`.duration()`](https://github.com/mozilla/node-convict/blob/61e8b9b5b6c89ea905fe8cd962492342ea2b1100/lib/convict.js#L435) - I've been following [t

[2019-08-26 03:51] brettneese commented on #305
Hey @zaverden! I'm still working on documentation, testing, and releasing this as its own NPM module, but I thought you might have peak here: https://github.com/brettneese/convict-provider-awsSsm/blob/use-native-convict/lib/convictUtils.js

In essence, I pulled a few pieces out of Convict itself to help with parsing deep objects the Convict way, and created a helper library which you pass a schema

[2019-08-31 00:11] lmeyerov commented on #250
Wrapping in `[...]` seems to protect against this, at least preventing crashing.

[2019-09-03 17:49] arhughes opened #318 "Unable to use the name "properties" within a schema"
It is not possible to have a schema with an element named "properties".

[code]

Produces the output:
[code]

Renaming `properties` to any other string makes the configuration validate without error..

[2019-09-05 13:43] soullivaneuh opened #319 "Usage and/or doc reference generator"
This tools is great, we can define and validate various config from file, env, cli arg... and we can even put a short doc on each field.

But what if I want to display a clear and concise doc reference on a website on a cli usage?

Should this package be able to handle that? If not, is it compatible with other packages doing that need?

Thanks

[2019-09-09 08:01] A-312 commented on #313
I think there is two types possible for Getter : Loading only once like (env, arg) or loading for each `.load` like this :

And priority argument can be number (=> getter is loaded only once) or string ('load' or 'load/set') (=> getter is loaded for each .load (if the value is set)).

[code]

what did you think ?

[2019-09-09 08:04] A-312 commented on #317
Or add duration and timestamp like a dependencie with addFormat.

convict.addFormat(require('convict-duration'))

[2019-09-09 08:16] A-312 opened #320 "[Remove dependency] Revert #143"
I propose to revert #143 (issue #142) because we can add our own parser with [addParser](https://github.com/mozilla/node-convict#configuration-file-additional-types-support). This change permit to remove json5 dependencie.

(In my case I use YAML parser).

[2019-09-09 08:43] A-312 opened #321 "[Remove dependencies] Convert some default format to external package"
With [lerna](https://github.com/lerna/lerna) a github repo could have several npm package [see this repo](https://github.com/zestedesavoir/zmarkdown). And we can get this folder structure :

[code]

I propose to outsource format using validator and moment.js (#317) according to https://github.com/mozilla/node-convict/issues/303#issuecomment-516757450.

We have to replace this line : https://github

[2019-09-09 14:25] basickarl opened #322 "Custom format array?"
Hi quick question, I'm wondering if it's possible to have custom formats in the array for example:

`format: ['my-custom-added-format-1', 'my-custom-added-format-2'],`

It seems to expect a string when I try and do this! (I've added the custom formats via the addFormat method)

[2019-09-29 09:42] A-312 commented on #322
You can according to the README (but I never test).

[2019-09-29 10:09] A-312 opened #325 "Select keyName with regex in schema for children object"
I need to check several children object with the same schema but an unknow keyName.

The most obvious example is an object "hands" with left and right subkey/subobject. I proprose to add regex Filter.

Schema :

[code]

Config :

[code]

# Other solution :

## Filter with function instead of RegExp :

Schema :

[code]

Javascript :

[code]

Or we can add the twice (`Filter:RegExp(xxxxx)` and `Filt

[2019-09-29 10:12] A-312 commented on #320
#143

[2019-10-10 17:41] halfzebra commented on #251
Hey Marc!

The logical way to implement this would be to assume that the evn var is required if the `deafult` is not provided:

[code]

But this would introduce a breaking change to the library, so the second best option is to introduce a `required` property to the schema:

[code]

The `required` property would ignore the `default`.
This could also me considered as a breaking change if the `deaful

[2019-10-10 18:38] A-312 commented on #251
Can be fixed by #313 ?

[2019-10-10 19:04] halfzebra commented on #251
Technically yes, but for my needs it would be an overkill :muscle:

[2019-10-12 18:10] madarche opened #328 "Publish convict@5.2.0 on NPM"
@vladikoff could you publish convict@5.2.0 on NPM please?

The package version is set, the repository is tagged, the tag is pushed and the CHANGELOG has been updated.

Thanks!

[2019-10-13 16:46] #320 closed

[2019-10-14 21:35] vladikoff commented on #328
done!

[2019-10-14 21:35] #328 closed

[2019-10-15 19:12] madarche commented on #328
Thanks a lot @vladikoff!

[2019-10-27 13:28] A-312 commented on #313
Custom Getter can be used to make a support for #322 -> formats: ["ip", "port"]

[2019-10-27 14:53] A-312 opened #331 "Some tests don't work well (Don't throw an error)"
According to #330, tests/travis should be throw an error.

I got same issue in #329 (if I try to invert the code `.throw()` with `.not.throw()`, i don't got an issue but i should got one).

[2019-10-27 14:59] A-312 commented on #331
And : #332 should be red/has failed but the checks have passed. :(

[2019-11-14 10:24] evisong commented on #7
Also refer to #238.

[2019-11-14 11:59] A-312 commented on #7
And #312 ?

[2019-11-19 20:55] A-312 commented on #313
I will change the logic of :

https://github.com/mozilla/node-convict/blob/be350a7ded016543b3eea16953be1f81c4bf34be/lib/convict.js#L329-L353

https://github.com/mozilla/node-convict/blob/be350a7ded016543b3eea16953be1f81c4bf34be/lib/convict.js#L250-L264

[2019-11-21 06:19] A-312 commented on #318
I will make a PR to fix this issue

[2019-11-21 07:58] A-312 commented on #313
I will make default, env and argv like a customGetter.

[2019-11-27 13:33] Makeshift opened #335 "Schema export consistency"
Before I open a pull request for this, I was curious if there was a design reason for it.

I've noticed that the schema that is exported with `getSchema` and `getSchemaString` are not the same as the schema that was originally supplied to Convict. In particular, two transformations happen:

1. The format name is made lowercase
2. The JSON object is flattened (I assume to make `a.b.c` work without

[2019-12-07 04:57] A-312 commented on #313
Instead todo (6 loops) :

(Order : default, value *(=.load or .loadFile)*, env, arg, set *(= .set)*)

// loading schema

  1. default loop
  2. env loop
  3. arg loop

// .load or .loadFile

  4. value loop
  5. env loop
  6. arg loop

I will do (2 loops) :

// loading schema

   1. Check for the value with the most priority --> 1) arg, 2) env, 3) default and get the value. I will write a variable

[2019-12-07 05:21] A-312 opened #337 "Improve schema parsing and default property usage"
Related : #88 #254 #278

## Behavior should be fixed:

Actually several problems with default :
  1. We can't use `default` property name in config ;
  2. When we forgot `default` we can have a weird bug or sometime this work well with magic coerce.

## TODO :

[2019-12-07 05:35] A-312 commented on #136
[code]

`format` should be set I think.

[2019-12-07 05:53] A-312 opened #338 "coerce send too many (useless) argument"
Depending of the README, coerce should be have only one argument but we send 3 arguments, `coerce: function(val) {`. I will simplify the script for #313 and I remove the 2th and 3th arg.

[code]

# Current log :

[code]

# Expected :

[code]

[2019-12-07 06:08] A-312 commented on #262
I thought coerce function was only to convert value/format not change value depending of dynamic value but this commit is a good hack instead getter (#313). :/

[2019-12-07 06:10] A-312 commented on #338
# Solution 2 depending of #262 :

Add doc about the 2th and 3th arg **BUT** #313 should permit todo the same thing of #262.

[2019-12-07 06:38] A-312 commented on #338
Ok... Coerce can be used for placeholder (the doc don't explain that, the explain was removed). #110

[2019-12-07 06:45] A-312 commented on #338
812cd15d93c4042212c179ec9d6ccfdb387a49cb

"only works in limited cases" => Then, this code should be not in convict (and see my explain https://github.com/mozilla/node-convict/pull/110#issuecomment-562820329 , I say the same thing, placeholder only work with a perfect order during the recursive function..., this code is like a hack not a solution).

[2019-12-07 08:02] A-312 commented on #68
@pdehaan coerce function is not called with loadFile/load.

[2019-12-07 08:07] A-312 commented on #337
And add a comprehensible error if format is not set, see : #88

[2019-12-07 08:12] A-312 commented on #125
With customGetter #313 you will be able to replace 'env' by your own function.

[2019-12-07 08:21] A-312 commented on #128
Similar to #125

Priority order (first find).

Default value or error like actual

Priority order (first find), and validor check the first value found (without try the second env variable). For more -> CustomGetter #337

I think we should improve the env getter to get the first value found. If someone want more, he can make a customGetter.

[2019-12-07 08:31] A-312 commented on #7
This issue should be closed because we have several way to do that.

[2019-12-07 08:38] A-312 commented on #337
(the mention in issue128 is an error).

[2019-12-07 08:53] A-312 commented on #136
https://github.com/mozilla/node-convict/blob/be350a7ded016543b3eea16953be1f81c4bf34be/lib/convict.js#L232 default is a reservated word 😕  In #337, I want to replace `default` word to `format` but I will move this problem.

[2019-12-07 09:09] A-312 commented on #158
You have an error in your code :

https://github.com/mozilla/node-convict/blob/be350a7ded016543b3eea16953be1f81c4bf34be/lib/convict.js#L446

loadFile accept only one argument.

Then :
<details>
  <summary>With only `{"b": 11, "c": 13}`, I got 152.</summary>

[code]

</details>

This issue should be closed because is not reproductible, is a owner error.

[2019-12-07 09:46] A-312 commented on #162
**Solution :** Should be to run 2 instances of convict.

[2019-12-07 09:51] A-312 commented on #204
Not reproductible, should be closed.

I tried the 2 scripts below, I got two time the expected error. `Error: configuration param 'port' not declared in the schema`

[code]

[code]

[2019-12-07 10:17] A-312 commented on #224
CustomGetter #313 people rewrite env and arg function like they want.

[2019-12-07 10:33] A-312 commented on #229
Add an example what you want to do or that you can't do.

I think your SCHEMA is wrong and you want to do something like that :

[code]

[2019-12-07 10:37] A-312 commented on #229
default should be `{}` and `format: 'Object'` also you can make your own format to allow `false` or an Object.

[code]

This issue should be closed because is author error.

[2019-12-07 10:43] A-312 commented on #235
With my PR #327 , the url format will be a separated paclage see : https://github.com/A-312/node-convict/tree/nodep/packages/convict-validator

[2019-12-07 11:01] A-312 commented on #208
Similar/Duplicate : #211

[2019-12-07 11:11] A-312 commented on #237
Actually you can with : #110 but :

In my opinion, the change should be done only after convict thing, not in live during the loading. This will add too many loop, we should check for each env change.

It is very simple to make a recursive function at the end. But if you really don't want to do with your own function. PR an `compile` function (https://github.com/mozilla/node-convict/pull/110#issue

[2019-12-07 11:15] A-312 commented on #266
Is very easy to do without : https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Object/assign

[code]

[2019-12-07 11:21] A-312 commented on #266
Should be closed ? Not reproductible :(

[2019-12-07 11:35] A-312 commented on #249
Why not our own function ?

[2019-12-07 11:37] A-312 commented on #283
Similar/Duplicate : #313

[2019-12-07 11:44] A-312 commented on #267
We can do that with convict or maybe with an external package, or convict dependancie like : yargs-parser but I think is not the goal of convict

https://github.com/mozilla/node-convict/blob/be350a7ded016543b3eea16953be1f81c4bf34be/package.json#L43

[2019-12-07 11:47] A-312 commented on #271
Duplicate/Similar to : #250

[2019-12-07 11:50] A-312 commented on #313
I referenced some issue to fix it in my PR.

[2019-12-07 11:54] A-312 commented on #251
Why not a custom format which accept false or String ? Or default: '' ? Actually you have several solution to do that.

[2019-12-07 12:02] A-312 commented on #337
Related : #254 #278

[2019-12-07 12:10] A-312 commented on #260
With my PR for customGetter (issue: #313), we will be able to easily add a function to see the getter was used to get the value. I keep this issue in my mind.

[code]

[2019-12-07 12:15] A-312 commented on #274
HTML output ? (Don't forget to add on README -> #267)

[2019-12-07 12:16] A-312 commented on #281
#327 ?

[2019-12-07 12:31] A-312 commented on #291
Similar to #237

### Solution 4

Add `compiler` functions which allow custom functions, like that :

[code]

[2019-12-07 12:38] A-312 commented on #249
Why not our own function on `config.getProperties` ? And what should be the output ? (array or object)

[2019-12-07 12:48] A-312 commented on #313
The actual prototype is : addGetter(property, getter, useCoerce, usedOnlyOnce, rewrite)

 - property : Name & keyname in schema
 - getter : function to get the value
 - useCoerce : true/false to apply coerce (will fix: #68)
 - usedOnlyOnce : boolean or function, if true will fire : `throw new Error("'" + fullName + "' reuses '" + getterName + "' getter value: " + value + advice);` ;
 - rewrite : I

[2019-12-07 19:51] A-312 opened #340 "📖📖 News features & similar issues 📖📖"
For my PR about the custom getter, I read issues to understand how I can make my PR. Some issue are resolved (done) or need a decision/choice.

Some issues are done : resolved, answered not enough informations or not reproductible.

| state | issues |
| --- | --- |
| done | #7, #68, #88, #125, #128, #136, #158, #204, #224 (->PR : #261), #229, #237?, #238, #266, #278, #283, #292, #308, #322 |
| nee

[2019-12-08 08:05] A-312 commented on #292
Similar to : https://github.com/mozilla/node-convict/issues/7#issuecomment-553856857

You can make your own format and accept null or object ? Or with #312 :

[code]

[2019-12-08 08:22] A-312 commented on #319
Similar/Duplicate: #274

[2019-12-08 09:34] A-312 commented on #68
Should we fix this issue to add coerce with loadFile/load ? (I think yes, is strange that coerce only run on default/env/args...)

[2019-12-08 14:43] A-312 commented on #68
Can you reproduct your problem ? Because I can't. I tried :

[code]

[code]

[code]

[2019-12-08 22:18] A-312 commented on #285
I think we should add `addCustomCoerce` (or `addCoerce`) like we do with a format, I will make a PR.

[2019-12-08 23:11] A-312 commented on #158
~~My last message is wrong, I don't quote the good function.~~

loadFile accept only one argument string or array, not two.

https://github.com/mozilla/node-convict/blob/be350a7ded016543b3eea16953be1f81c4bf34be/lib/convict.js#L607-L609

This issue should be closed because is not reproductible, is an error.

[2019-12-11 00:45] opensas opened #343 "is convict.addParser(...require('json5')) really necesary?"
I have a json config file with comments, single quotes and trailing commans, and if I comment the following lines:

[code]

everything works ok anyway

If it's no longer ncesary (which si good!!!) docs should be updated: https://github.com/mozilla/node-convict#allow-comments-in-json-files

Am I right?

[2019-12-11 05:02] A-312 commented on #343
@opensas I made this change because some user (like me) use YAML without JSON5.

Master is 6.0.0 : https://github.com/mozilla/node-convict/blob/master/CHANGELOG.md#600---2019-xx-xx

Npm is 5.2.0 (and support by default json5).

[2019-12-11 05:36] A-312 commented on #322
https://github.com/mozilla/node-convict/blob/be350a7ded016543b3eea16953be1f81c4bf34be/lib/convict.js#L298 The readme and this part of the script say yes but according an other issue this seem to be partial.

[2019-12-11 20:48] opensas commented on #343
ok, then I´ll leave in commented waiting for 6.0 version. Is it the only change in 6.0? Any estimate date for publishing it?

[2019-12-11 20:50] vladikoff commented on #343
We can work on the 6.0 release, you can also just install from github via a git sha for now

[2019-12-11 22:42] A-312 commented on #343
Commented or not that don't make a big change. When you use addParser, you add a key "json" in parsers_registry object.

loadFile :
https://github.com/mozilla/node-convict/blob/be350a7ded016543b3eea16953be1f81c4bf34be/lib/convict.js#L449

addParser :
https://github.com/mozilla/node-convict/blob/be350a7ded016543b3eea16953be1f81c4bf34be/lib/convict.js#L766

[2019-12-13 13:02] madarche commented on #312
The functionality requested with this ticket can be legitimate, but can be achieved with the current functionalities. Let's rather strive for convict simplicity.

[2019-12-13 13:02] #312 closed

[2019-12-13 13:06] madarche commented on #343
Thanks @A-312 for answering. We all want to have convict 6.0 released ASAP.

[2019-12-13 13:06] #343 closed

[2019-12-14 08:11] A-312 commented on #312
How ?

convict.addFormat('array[int]')
convict.addFormat('array[string]')
convict.addFormat('array[ip]')
convict.addFormat('array[port]')
etc...

Is more easy to do :

convict.addFormat(/array\[.*\]/)

[2019-12-19 12:31] A-312 commented on #331
Maybe anonymous functions don't work with must

[2019-12-20 20:03] #331 closed

[2019-12-21 11:56] A-312 opened #345 "Replace should (=> Last publish 3 years ago) by Chai"
`must` doesn't provide actual + expected when a throw test failed (if the error message is different of the expected message). :(

## Before (with must) :
![image](https://user-images.githubusercontent.com/18501150/71307603-c73cdf80-23f0-11ea-8403-530a046b7298.png)

## After (with Chai) :

![image](https://user-images.githubusercontent.com/18501150/71307549-7af19f80-23f0-11ea-946e-01f35c2a624d.png

[2019-12-21 12:01] A-312 opened #346 "Some test don't provide error message (they can fail for other thing)"
In my PR #342, I saw some tests which don't provide error message like this : `.must.not.throw();` Then they can failed for other thing and not for format validate. (Like undefined variable in npm convict code...) instead of : 'must be a prime number: value was 16'.

https://github.com/mozilla/node-convict/blob/d2637632ee2a8c05905e15f2ca9000b6ef2dde21/test/format-tests.js#L161

[2019-12-21 14:12] A-312 commented on #345
# Actual :

![image](https://user-images.githubusercontent.com/18501150/71308209-e4c27700-23f9-11ea-998f-99de0aa24a06.png)

# Error prototype should be :
[code]

[2019-12-22 09:58] A-312 opened #349 "Improve .defaut() and .reset() errors for users"
[code]

We should replace :

by :

[2019-12-22 12:46] A-312 commented on #322
Actually, a format array is for a whitelist of value, like :  `format: ['value1', 'value2']`.

But you can make your own format to do :

[code]

[code]

[2019-12-28 16:44] madarche opened #350 "Preparing convict 6"
@A-312, since we are preparing a new major version, are there any *breaking* changes that you would like to be included in 6.0.0?

[2019-12-28 18:51] A-312 commented on #350
There are not a break change but :

#314 #336 and #347 ? (but I think #347 have many conflict in the new branch)

------

For #342, I need one week-end or one full day. I think, this one will ready before the 10th january, for 6.0.0 or 7.0.0.

[2020-01-01 08:18] A-312 opened #351 "Use 'ObjectPath' package for dot (period) support"
I will make a PR to add [ObjectPath](https://www.npmjs.com/package/objectpath) package like dependencie. This dep looks reliable : https://github.com/mike-marcacci/objectpath/blob/master/test/index.js

Example :
[code]

| Similar |
| --- |
| #250, #271, PR #315 |

[2020-01-01 08:23] A-312 commented on #340
@madarche Can you take a look, I think the `done` issues should be closed. And maybe the `need decision` issue.

[2020-01-01 08:26] A-312 commented on #351
@madarche is it right for you ? Can i use `ObjectPath` ?

We will able to do `conf.get('a[1].b.c.d["e"]["www.site.com"].g')` :)

[2020-01-01 09:56] A-312 commented on #350
This morning, I rebased my PRs into mozilla:feat-multi-packages-split : #347, #348, #336

[2020-01-01 10:32] A-312 commented on #350
I will wait that all my PR is merged before rebase #342 (because if I do before I will do resolve conflict several time).

I reopen #352 to prepare #342 and have less work in #342 rebase.

[2020-01-01 11:45] A-312 commented on #350
Can you rebase `mozilla:feat-multi-packages-split` into `master` ? Because this commit is missing : https://github.com/mozilla/node-convict/commit/d2637632ee2a8c05905e15f2ca9000b6ef2dde21

[2020-01-03 19:57] A-312 commented on #350
#314 ready too

[2020-01-05 16:10] A-312 commented on #350
I did the work of merging & resolving in my PR#353 to save sometime and let you merge the 6.0.0 with only one click :) (You just need to write the CHANGELOG.md and fix my english :') )

[2020-01-06 20:49] A-312 commented on #254
Convict understands :

[code]

[2020-01-06 21:08] A-312 commented on #88
Right because convict understands :

[code]

[2020-01-06 21:11] A-312 commented on #254
With magic coerce we can't do that. :/ Or disable magic coerce with strict mode.

[2020-01-06 21:25] A-312 commented on #88
Should be closed because not reproductible :
I try `conf.validate({strict:true});` and `conf.validate();`.

[code]

[code]

Also I tried with :

[code]

[2020-01-06 22:07] A-312 commented on #278
validate don't check property with `default === undefined`... Set another value for `default`. ;-)

https://github.com/mozilla/node-convict/commit/553537910c1708d738a36a3a53c570adf7efe1ba

<details>
  <summary>Solution</summary>

[code]

  ![image](https://user-images.githubusercontent.com/18501150/71852425-f5047280-30d8-11ea-96b1-52013665d64b.png)
</details>

[2020-01-06 22:16] A-312 commented on #136
Not reproductible anymore, your code don't throw an error.

<details>
  <summary>code</summary>

[code]
</details>

[2020-01-06 22:22] A-312 opened #355 "Add option: Properties with default of undefined [do/do not] behave like properties that have not been specified"
Properties with 'undefined' + default 'undefined' value should not have the same behavior of not specified. Or we should add option about that.

Because format don't run on property with `value === undefined and schema.default === undefined` see: #278.

This commit : https://github.com/mozilla/node-convict/commit/553537910c1708d738a36a3a53c570adf7efe1ba

[2020-01-06 22:47] A-312 commented on #125
You will be able to do that with :

[code]

;)

[2020-01-06 23:01] A-312 commented on #335
In https://github.com/mozilla/node-convict/pull/353/commits/e3e51718b9a56436db43957a6cdddd358d9516f4 (#353), I removed the `.toLowerCase()` to have the same consistent.

@Makeshift This does the same thing of coerce function, is not it ?

[2020-01-06 23:04] A-312 opened #356 "We can not do `convict(config.getSchema())`"
We have : `.getSchema()` but we can't re-parse the schema with convict... does `.getSchema()` be only for debug ?

[2020-01-06 23:08] A-312 commented on #128
You can dot that with custom getter (next update, 6.0.0) :
[code]

[2020-01-06 23:11] A-312 commented on #250
#354 ;)

[2020-01-06 23:20] A-312 commented on #224
[code]

[2020-01-07 07:03] A-312 commented on #355
I will add `required: false/true` for allow undefined or not in default variable.

[2020-01-07 08:29] ekaradon commented on #88
The error you give is a bit weird. Does it mean you have to copy/paste the  documentation when overriding your configuration?
I - personally - don't use this library anymore. I can close if you ask or you can just go with it and close it.

[2020-01-07 09:05] A-312 commented on #88
We can improve the message like this:

`did you override `doc` property parent?`

or

`configuration param 'first.second.third.format' missing from config, did you override its parent? because: first.second.third` is a string

[2020-01-07 09:59] ekaradon commented on #88
From what I can remember, these fields (format & doc) are intended to help the developer to understand what values can be used. Not something he should override. So I would expect to have no issue at all with your first example.

[2020-01-07 12:12] A-312 commented on #88
You didn't write that you wanted to do. You had to write:

[code]

`dedault` is required, `doc` and `format` are optionnal and they are not a reserved word in config schema.

[2020-01-07 13:08] ekaradon commented on #88
Ok, I am closing this.

[2020-01-07 13:08] #88 closed

[2020-01-09 06:54] A-312 commented on #349
Or with the same behavior of other error:

or:

[2020-01-10 06:48] A-312 commented on #350
Today or tomorrow, I will improve default usage in parsing of schema and in validate (to be more user friendly), you can merge my PR but just wait my last change.

[2020-01-11 10:12] A-312 commented on #350
I would like to take advantage of these break changes to rename some function. After reading the new doc of #314: https://github.com/mozilla/node-convict/pull/314/files#diff-24ac9951b3e0cda0a70e9b9877953990R306 I think `merge` is more appropriate function name that `load` or `loadFile`.  Because when we use `load` we merge configs depending of getters priority.

@madarche Should we rename/merge `.

[2020-01-20 08:01] A-312 commented on #350
Object-path was updated this morning but not yet published on npm.

[2020-01-21 21:10] A-312 commented on #88
I find a solution (a new error message):

[code]

https://github.com/mozilla/node-convict/pull/357/commits/dc8fdcdd4b9986e30c8b7ff18b41164882e175c7

[2020-01-27 17:16] BourgoisMickael commented on #308
Closed by #310

[2020-01-27 17:16] #308 closed

[2020-01-31 07:57] #235 closed

[2020-02-03 07:28] guyisra opened #358 "Typescript support"
nearly 3 years ago, https://github.com/mozilla/node-convict/issues/202#issuecomment-297392945 mentioned typescript won't be supported

Since then typescript has gained momentum, community and support by many in the js community (https://2019.stateofjs.com/javascript-flavors/typescript/)
While typescript is made by mozilla's sworn enemy, as programmers we strive for best of breed tools. Typescript

[2020-02-03 07:50] A-312 commented on #358
Please explain what we need to do to support Typescript

[2020-02-15 17:56] guyisra commented on #358
essentially, all that is needed is just a file with all the definitions of all the public / exported functions and types used by them. thank you  🙏

[2020-02-20 01:53] JoshuaToenyes commented on #358
@guyisra I've been using [`@types/convict`](https://www.npmjs.com/package/@types/convict) for typing for years. It's not as nice as having the types available in the same package, but better than nothing!

[2020-03-06 17:51] #211 closed

[2020-03-06 18:47] #356 closed

[2020-03-06 18:47] #313 closed

[2020-03-06 18:47] #321 closed

[2020-03-06 18:47] #325 closed

[2020-03-06 18:47] #337 closed

[2020-03-06 18:47] #338 closed

[2020-03-06 18:47] #345 closed

[2020-03-06 18:47] #346 closed

[2020-03-06 18:47] #349 closed

[2020-03-06 18:48] #351 closed

[2020-03-06 18:48] #355 closed

[2020-03-17 12:43] cyrille-arundo opened #360 "[Snyk] Prototype Pollution Affecting yargs-parser package"
`convict@5.2.0` requires `yargs-parser@13.0.0` (pinned version)
https://github.com/mozilla/node-convict/blob/68429a16c607750882dad721baa91fa4d7f3a2ee/package.json#L8

[Snyk](https://snyk.io/) reports the following **Medium Security** error:

See https://snyk.io/vuln/SNYK-JS-YARGSPARSER-560381

[2020-03-18 18:33] madarche commented on #350
@A-312 I'm working on `master` to update the dependencies, and I'm new to lerna: I've just read about but not actually used it before.

On my local repository I've changed the 4 `package.json` files and I now want to update the corresponding `package-lock.json` files.

From what I've read I think the following command should do what I want:
[code]

I've also tried the following command, but I'm re

[2020-03-19 00:12] A-312 commented on #350
@madarche It the *version* script tag in your package.json that cause your problem.

I forget to edit. I mean this one : https://github.com/mozilla/node-convict/blob/master/assert_changelog_ready

(I published my fork https://www.npmjs.com/package/blueconfig because I had to use it for my project, you can use it like example)

[2020-03-19 19:33] madarche commented on #350
Thank you @A-312, I'll use https://www.npmjs.com/package/blueconfig as a model.

I'll report here soon.

[2020-03-25 07:03] mfechner commented on #360
Is there a new version of convict planned that includes this security fix?

[2020-03-25 08:51] madarche commented on #360
@mfechner definitely **Yes**! And security is important to us. But it's hard to find the time to finalize the new version of convict. I'm the first to regret it 😭

On the projects I maintain, simply removing the  `package-lock.json` file and the `node_modules` directory and doing a new `npm install` reinstalls a whole new set of dependencies which `npm audit` doesn't report as having any vulnerabi

[2020-03-25 08:51] #360 closed

[2020-03-25 15:58] vadistic commented on #358
I just wanted to leave few ideas around, since this thread seems like a good opportunity.

There's a bit of issue with typing nested config variables (using `@/types/convict`), because of this dot access notation.

Example:
[code]

I would propose for consideration expanding get/has/default apis to variadic fn that would accept separate path segments.

[code]

- implementation would be trivial (sm

[2020-03-26 17:21] booninite commented on #358
@vadistic when we use `config.getProperties()`, the generics in `@types/convict` allows for autocomplete and type-ahead.  Additionally, you can do stuff like `ReturnType<typeof config.getProperties>` to crystallize the types (e.g., to use them as input parameters to a function, or any other useful stuff)

[2020-03-30 13:56] QmarkC opened #362 "convict-format packages not found on npm or yarn"
The convict-format-with-validator and convict-format-with-moment packages are not found on npm or yarn.

https://yarnpkg.com/?q=convict-format-with-validator
https://www.npmjs.com/search?q=convict-format-with-validator
https://yarnpkg.com/?q=convict-format-with-moment
https://www.npmjs.com/search?q=convict-format-with-moment

[2020-03-30 14:11] madarche commented on #362
convict@6 is not published yet :-(

[2020-03-30 14:11] #362 closed

[2020-03-30 14:47] QmarkC commented on #362
Ok thanks. I am just getting started with convict and didn't realize those were part of the upcoming release. It might be helpful to add a note to the README files. Listing convict@6 in the peerDependencies would have also helped me catch this as well.

[2020-04-07 13:22] MrBartusek opened #363 "`output` for `validate` is printed with yellow warning prefix"
As an example take that code:
[code]
I redirect all logs from convict to my logger (feature added in #301). The messages are something like
**warning:** something broke and a warning is in yellow text. The problems are that most of the loggers add own prefix like [WARNING] or something so result in messages are [WARNING] Warning: something broke (which looks funny)

The best solution will be to do

[2020-04-11 05:03] A-312 commented on #228
https://json-schema.org/implementations.html#utilities

[2020-04-11 05:19] A-312 commented on #358
@vadistic @booninite Where is the doc about that ? I want to implemente typescript support

[2020-04-11 05:26] A-312 commented on #317
Next step:

 - [ ] Yargs should be optional

[2020-04-11 05:29] A-312 commented on #311
If you add `"[Sensitive]"` on `get`, this should be also on `getProperties`. Or: `if (config.getSchema().password.sensitive) {}`

[2020-04-11 05:32] A-312 commented on #305
I think node-convict 6, answer to this issue

[2020-04-11 05:37] A-312 commented on #284
In node-convict 6, we have to set `rewrite` to true, if we not set to true we get an error.

[2020-04-11 06:15] A-312 commented on #281
Is not so hard:
 - line https://github.com/mozilla/node-convict/blob/c5f6798ed4edf5249f61d775ebcfd27bab316602/packages/convict/lib/convict.js#L12-L69: coerce/format declaration
 - line https://github.com/mozilla/node-convict/blob/c5f6798ed4edf5249f61d775ebcfd27bab316602/packages/convict/lib/convict.js#L70: parser storage declaration
 - line https://github.com/mozilla/node-convict/blob/c5f6798ed4ed

[2020-04-11 17:22] madarche commented on #350
@A-312 the solution to fix the *Dependency cycles detected* warnings was to remove all references to `convict-format-with-moment` and `convict-format-with-validator` from `convict`. This has been fixed with 5a16dd1ad561ccc67cc0cb8c9de044313b981c1a. The main change was in [convict's `package.json`](https://github.com/mozilla/node-convict/commit/5a16dd1ad561ccc67cc0cb8c9de044313b981c1a#diff-62b53c8c

[2020-04-11 20:42] A-312 commented on #350
I think `npx lerna exec -- npm i` is not a good command, maybe you should do: `npm bootstrap` ?

[2020-04-11 20:56] A-312 commented on #350
In blueconfig, I think I will remove `devDependencies` in `packages/*/package.json`

[2020-04-12 16:09] madarche commented on #350
@A-312:

* OK for `lerna bootstrap`! Thanks!
* Acknowledged about intention to remove `devDependencies` in `packages/*/package.json`. I'm investigating different options in the same area, to see if it's possible/desirable to have test coverage globally and/or separately for each package.

[2020-04-13 01:44] ronkorving commented on #281
@A-312 Are you saying "what the three of you see as a problem to help collaborate is not a problem, and you're wrong"? I think you're missing the point.

[2020-04-14 18:35] BenPatterson2 commented on #311
console.log on the entire instance also exposes values, also JSON.stringify(instance) be nice if this wasn't the case.

[2020-04-18 22:24] xamgore commented on #358
@vadistic what about `CONFIG.get(['parent', 'child'])`?

[2020-04-20 07:35] xamgore commented on #335
@A-312 did you hear about [json-schema](https://json-schema.org/) drafts? If there will be a way to generate schemas in that format, some can utilize [json-schema-to-typescript](https://github.com/bcherny/json-schema-to-typescript) package and get typescript definitions for free!

[2020-04-20 10:11] A-312 commented on #335
The last week, I take 4-5 hours to work on that [to thintk if should implement json-schema or not](https://github.com/A-312/node-blueconfig/issues/15#issuecomment-614188887). I choose to:

 - Adapt type/format of json-schema (with property, min, max, length...), this will be compatible (convict 6) ;
 - I will not all their features because I found some of their choice not to good and a little be c

[2020-04-20 10:23] A-312 commented on #335
@Makeshift I saw [in netwok](https://github.com/mozilla/node-convict/network), you always pushed the same commit

![image](https://user-images.githubusercontent.com/18501150/79740617-45a68100-8300-11ea-9996-ac3b790070d9.png)

It seems to me:

| Your commit | State v6 |
| - | - |
| [New: Force coercion even for things that aren't strings](https://github.com/Makeshift/node-convict/commit/8b93ef82e16

[2020-04-20 10:47] Makeshift commented on #335
If that's the case, I'll take a look when I have a moment and close the issue if solved. Thanks!

[2020-04-24 08:55] Darkein opened #367 "default value for array items"
Hello,

i'm using the array validator in my schema.

Unfortunately, because it use a new convict instance to validate the schema, the default values of the elements in my array are not set.

I tried to get my active instance, but because I don't know where i am in the schema during the validation, I can't set the values on my own.

If someone as any idea ?

---

this is the validator:
[code]

my s

[2020-04-24 09:54] Darkein commented on #367
I can make a PR if needed, but I don't have any clue how to do it properly

[2020-04-24 11:46] A-312 commented on #367
In my fork, I did: https://github.com/A-312/node-convict/commit/c9d24109dc798071bf62fe0d51d1e87ac57e5509#diff-9a1c05ec2f523aa189f25a817c2b605dR368-R381 (It is maybe usefull to have a different messages displays when you want return several error).

Like this:

[code]

You have to had the fullName variable like a third arg:

https://github.com/mozilla/node-convict/blob/903638f558db071ddf44c311e4c21

[2020-04-27 07:18] Darkein commented on #367
Thanks for answer.

I already tried with fullname but it's not enough if I have sub array.
But if I can pass the current instance of convict it could do the job :)

I will give a try

[2020-04-27 10:45] A-312 commented on #367
I think my solution handle this

[2020-04-27 13:16] Darkein commented on #367
it works by adding fullname and instance, thanks :)

[code]

I forked node-convict to do it, but I can create a PR on your project if you want ?

[2020-04-27 14:15] A-312 commented on #367
or: `newFormat.call(instanceConvict, x, this, fullName)`

and after: `this.set(fullname, data)`

[2020-04-27 14:27] Darkein commented on #367
yes, good idea too !

[2020-04-29 14:04] xamgore commented on #358
@A-312 you have two options:
1. Write in the README about [@types/convict](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/convict) package. A user just needs to install it via npm --save-dev.
2. Copy those type definitions into this repository and set `types: index.d.ts` in the `package.json`.

[2020-04-29 14:12] madarche commented on #358
@xamgore could you make a PR on this please?

[2020-04-29 21:59] A-312 commented on #358
@xamgore My comment was to make a PR, not for use with TS.

[2020-05-02 16:45] madarche opened #369 "Publish convict@6.0.0 on NPM"
@vladikoff could you publish convict@6.0.0 on NPM please?

The packages versions are set, the repository is tagged, the tag is pushed and the [CHANGELOG](https://github.com/mozilla/node-convict/blob/master/CHANGELOG.md) has been updated.

:warning: The project is now managed through [Lerna](https://lerna.js.org/) and thus you will have to do the following to do the publishing:

[code]

I have expl

[2020-05-02 16:49] madarche commented on #350
convict@6.0.0 is now ready for publishing. All the points related to the use of lerna have been dealt with #368.

[2020-05-02 16:49] #350 closed

[2020-05-02 16:51] A-312 commented on #369
@madarche To avoid mistake some package add `"private": false,` in their sub-package, this will disable `npm publish` but not `lerna publish`. I think I will also do in my project

[2020-05-02 16:59] madarche commented on #369
@A-312 thanks! Any tip is greatly welcome! 😀

Do you mean `"private": true`?

[2020-05-02 17:12] A-312 commented on #369
Yes, I mean that, need a try but should work!

[2020-05-02 17:14] A-312 commented on #369
In fact I'm not sure of what I said: https://github.com/lerna/lerna/issues/536#issuecomment-275960514 🤔 I maybe said a bullshit.

[2020-05-03 04:40] A-312 commented on #340
@madarche Can you take a look, I think the done issues should be closed (some are not reproductible, closed because I found a solution or fixed [by 6.0.0](https://github.com/mozilla/node-convict/pull/353#issue-359284445)). And take a look on issues which **need decision**.

[2020-05-03 05:19] A-312 opened #370 "After 6.0.0 ?"
@madarche What do you plan after 6.0.0 ? *If I can, I will PR all my fork changes on convict because I don't plan to keep my fork active, if my fork has the only reason because I could not wait the change from mocha to jest and the merge of all my PRs.*

In my fork, I did some change (**without** break-changes) that I can apply here:
 - Allow schema on the root *(next goal: let convict parses sche

[2020-05-03 10:53] madarche commented on #370
@A-312 I really want to use as much of the good work you've done as possible. I'll come back later and answer all your questions. Thank you!

[2020-05-08 16:37] vladikoff commented on #369
It's live! 🎆

[2020-05-08 16:37] #369 closed

[2020-05-08 17:06] madarche commented on #369
Oh great! Thanks @vladikoff!

[2020-05-09 15:53] madarche commented on #370
@A-312, first thanks for your patience and all the new tickets you are creating to help. And please remember that I'm not super-fast for reviewing and integrating things 😊

Then, yes re-increasing the coverage would be very appreciated. I'm sorry to have dropped the level. I could work on it, but if you can, the better and thanks again.

About eslint-related things, I really like to control and I'

[2020-05-10 12:59] A-312 commented on #370
I split convict like that : https://github.com/A-312/node-blueconfig/tree/master/packages/blueconfig/lib (There is not breakchange with #353, ~~should I call this one convict 6 or convict 7 ? Because the current version doesn't have all the change of #353 🤔~~ )

[2020-05-10 14:40] madarche commented on #370
This splitting is very inspiring and well thought. I'd like a few renamings along those lines though:
[code]

Rationale:
* Use `_` to split names: `SchemaNode`→` schema_node.js`, etc.
* Let's identify clearly that the `Convict` class comes from the `convict.js` file (ex-`core.js`)
* Both the files `convict.js` (ex-`core.js`), `config_node.js` and ` schema_node.js` are models, so let's put them in

[2020-05-10 16:57] madarche commented on #370
New branch created so PR can be made to it: https://github.com/mozilla/node-convict/tree/convict7

[2020-05-11 12:04] A-312 commented on #370
Let finish #353 ?

[2020-05-11 12:05] HitkoDev commented on #358
@JoshuaToenyes (+ @madarche and everyone else): Convict split up across 3 packages, and changed a few other things along the way. As this seems to be the way to go, let's be real, we can't expect the community to keep ever increasing number of typings up-to-date.

Considering https://github.com/mozilla/node-convict/issues/202#issuecomment-297392945, if providing typescript integration isn't desire

[2020-05-11 12:14] A-312 commented on #358
Do you realize that you ask a typescript API to people that don't use TS? Split 3 packages that was a little change (some format are now optionnal, is not a big change on the convict interface)

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/convict/index.d.ts

[2020-05-11 12:29] HitkoDev commented on #358
Do you realise you could provide type hinting and ES modules without using typescript? But despite the claim that this project prefers to go with standard versions of JS, no such thing has been implemented in the past 3 years since those claims were made.

[2020-05-15 08:49] MrBartusek opened #376 "`getSchema()` broken in 6.0.0"
`getSchema` works differently now and [migration guide](https://github.com/mozilla/node-convict/blob/master/packages/convict/MIGRATING_FROM_CONVICT_5_TO_6.md) not that;

that code worked before 6.0:
[code]

now it must be:
[code]

I don't think that's intended

[2020-05-16 07:47] A-312 commented on #376
`properties` was replaced by `_cvtProperties` to allow the word `properties` in your config. ;) In 6.0, `properties` was a private word.

[2020-05-16 07:49] A-312 commented on #376
Also 6.0.0 is partial version of wanted changes, because [the next version >=7.0](https://github.com/mozilla/node-convict/pull/357) should be have different behavior with getSchema() to do something like that: `!Config.data.getSchema()[key]`

[2020-05-16 17:01] madarche commented on #376
Thanks @A-312!

[2020-05-16 17:01] #376 closed

[2020-05-16 19:27] madarche commented on #358
@HitkoDev when you mention that convict could provide type hinting without using TypeScript, do you mean providing JSDoc for public methods? Be specific please. And when you mention ES modules, what concrete advantages will this provide right now with respect to type hinting? Node.js has just moved ES modules out of experimental, so it's unfair to accuse convict in this regard.

So instead of comp

[2020-05-17 12:15] xamgore commented on #358
There is no need to rewrite the codebase in typescript. Just a `index.d.ts` declaration file is enough.

[2020-05-17 19:11] A-312 commented on #358
'just' for no typescript dev: Take a day to understand how that work and write file, then try to use this file. You ask a lot of, I think

Are you able to do this PR on your own ?

-------

@petermetz Hi, I saw you are the last person to commit on [convict/index.d.ts](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/convict/index.d.ts) files. Are you interested to add the files

[2020-05-20 06:58] madarche commented on #370
@A-312 I'll be working on #353 in the next days.

[2020-05-20 20:34] petermetz commented on #358
@A-312 Sorry but I'm stretched thin as it is. I only contributed a few lines to the existing typings because they were badly needed for my case. I understand that it's more comfortable for newcomers to have the typings embedded with the library itself but I also think it's not a big deal having to install a separate dev dependency for the typings to justify significant effort on my side.

[2020-05-21 16:36] xamgore commented on #358
At the moment, I'm migrating a project to convict 6, so I need some time to investigate the changes and rewrite typings. @DefinitelyTyped repo has CI with test runners and experienced maintainers, so I'm not sure it's a good idea to pull the blanket.

[2020-05-22 07:21] A-312 commented on #358
Keep in your head that this major (v6) has not so many change, don't past too many time on. The next version will be more interesting.

[2020-07-21 09:42] viktorlv30 opened #377 "Can't use 'default' key in my config."
I need a 'default' key in my config, like
`{
    "endpoints": {
        "default": {
            "base-url": "http://localhost:5000",
            "path": "/v1"
        },
        "auth": {
            "base-url": "/auth/v1",
            "path": "/token"
        }
    }
}`

I create a schema:
`const schema = {
    endpoints: {
        "default": {
            "base-url": {
                default:

[2020-07-24 19:04] A-312 commented on #377
I did this work : https://github.com/mozilla/node-convict/pull/357/commits/4f3c6519f70c42c647d334d834b53881b284b67f

[2020-07-27 06:50] viktorlv30 commented on #377
![image](https://user-images.githubusercontent.com/17748419/88511978-762c4400-cfee-11ea-9470-67182ab79c1d.png)
Maybe I'm doing something wrong?

convict version is 6.0.0

[2020-07-27 11:35] A-312 commented on #377
Oh, my bad you can't see the PR status with the link I give you. The PR with the commit was closed because they was to many conflict (one of my first commit/change in this PR was rejected).

You have two solution : Make a new PR (and reproduce the change) or use my fork.

[2020-08-19 04:32] ronkorving commented on #377
Damn, just came here to report exactly this. Darn.

[2020-08-19 09:07] A-312 commented on #377
I already did [a big work on my fork](https://blueconfig.js.org/)

[2020-08-19 11:10] ronkorving commented on #377
@A-312 Oh, that looks interesting! Thanks, I'll have a closer look :)

[2020-08-28 06:06] bayerlse opened #378 "Always uses default value"
Hello There,

I have following example:

[code]

When I run my code with `webpack mode --development` (which sets NODE_ENV) and do:

`console.log(config.get('env'))`
it returns always the default value: "production"

`console.log(process.env.NODE_ENV)`
it return the correct value: "development"

What is wrong here? Shouldnt get convict the value from process.env?

Thanks!

[2020-08-31 16:28] #318 closed

[2020-09-25 02:07] brianjenkins94 commented on #378
The problem is actually that `webpack` is setting `process.env.NODE_ENV=development` and not setting the actual `NODE_ENV` environment variable to `development`.

Here was my workaround:

https://github.com/brianjenkins94/kerplow/blob/master/dotfiles/express/ts/config/index.ts#L34-L41

[2020-09-25 02:31] brianjenkins94 opened #379 "Thoughts for convict 6.0+"
This is the code that I put in front of `convict`:

[code]

And then I setup my `config` directory like so:

[code]

The code that I have added dynamically and recursively crawls this directory and builds a config object for `convict` with these added benefits:

- Smaller configs:

[code]

- Consistant naming conventions

Say the above the configuration was in a directory called `irc` in a file ca

[2020-09-26 12:00] tomasz-zablocki commented on #358
Current typescript beta (4.1) brings [template literal types](https://devblogs.microsoft.com/typescript/announcing-typescript-4-1-beta/#template-literal-types) and [key remapping](https://devblogs.microsoft.com/typescript/announcing-typescript-4-1-beta/#key-remapping-mapped-types). They seem to have a lot of potential and it looks like convict types are a prime candidate for adopting these two.

[2020-10-11 23:46] hareeshnagaraj opened #380 "Empty string evaluated as 'true' for Boolean config"
Given a config with the following definition:

[code]

An environment variable set to `myTestConfig=''` is evaluated as true. Consistently reproduced with 5.1.0

I was able to work around this by adding the following custom format:

[code]
^The above seems unnecessary for what I expected to be default behavior.

Are empty strings expected to evaluate to Boolean true with node-convict?

[2020-10-12 14:57] dmanjunath commented on #380
Reproduced on 6.0.0 as well. Empty string returns true whereas in javascript empty string is treated as false.

https://runkit.com/5f846dc85d54e8001aa64b70/5f846dc95a8dee001ab902be

[2020-10-13 16:22] gerardolima opened #381 "is there interest in convict-format-with-luxon?"
Since [moment](https://momentjs.com/docs/#/-project-status/) entered into _legacy mode_, I'm not keen to add this dependency to my codebase and thought about reimplementing [convict-format-with-moment](https://github.com/mozilla/node-convict/tree/master/packages/convict-format-with-moment) to use [luxon](https://moment.github.io/luxon/), instead.

I can develop it as open source, so I wonder if th

[2020-10-21 15:20] jagretz opened #382 "Question: Is there a setting to allow fallback (default?) configuration if a"
Hello, I wasn't able to find an answer to this question in other issues, so here it is:

I am wondering if there is a standard or recommended way to have the `default` configuration for an environment loaded if a config file is not found? Using part of the example `config.js` from the docs to illustrate,
[code]

And say you have a `development.json`, `test.json`, and `production.json`.
Then you ru

[2020-10-27 10:35] ocramot commented on #68
Hi, I'm having the same problem, using convict and convict-format-with-moment version 6.0.0 (latest). If I write
`{
"session": 19000
}`

it is loaded correctly; if I write
`{
"session": "19 seconds"
}`

the coercion seems to do the conversion correctly, but then if I do `conf.get('session')`, I still get the '19 seconds' string.

@A-312 : when you do
`setTimeout(function () {
console.log('timeout

[2020-12-17 01:42] hwine opened #383 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2021-04-28 14:40] deema089786 opened #385 "Convict + react-scripts build + CI=true throws error"
When I try to build React app with `react-scripts build` (typescript) and env var CI=true I get this error
[code]
When I remove all usage of Convict from my code or set CI=false - build goes as expected

convict: 6.0.1
"@types/convict": "^6.0.1",
react-scripts: 4.0.3

NodeJS: 14.15.1

Is there any way to deal with that? (except setting CI to false)

[2021-04-30 14:04] harshitachouhan206 opened #387 "How to use a config param with format Object in convict node module"
I have a "publicKey" attribute in my config which is an object of some defined interface type.
I'm defining this "publicKey" param in convict schema as:
[code]
where undefinedDefault is:  `const undefinedDefault = undefined as unknown;`

When in config, I provide this public key object, then schema validation fails with this error:
[code]

**So how to use this Object format in convict schema and d

[2021-05-01 13:12] maxwrlr commented on #387
Besides the fact that that's not even a valid JSON (which is impossible), the object should probably not be wrapped inside an Array.

[2021-05-02 12:52] harshitachouhan206 commented on #387
that is actually a trimmed response, the config file has other entries too and this public key is an entry for one key (which is an array), I have removed those.

[2021-05-02 17:21] maxwrlr commented on #387
Alright, but more details about your config would be nice, especially how you the declared the parents of `publicKey`. Your error description (`configuration param 'publicKey'`) implies there are none, but there are, right?

In that case: You cannot describe complex array types. If you want to, you would have to create your own format, that checks that the specified value is an array and matches t

[2021-05-03 05:04] harshitachouhan206 commented on #387
My config is something like this:
[code]
And this "publicKey" attribute is optional param.

The convict schema for "idps" key is like this:
[code]

The issue is with "publicKey" having this format as Object and default as to type JWK.RawKey
So, when I give this `default: {}`, then it works but we want it to be of type JWK.RawKey (which is an interface):
[code]

[2021-05-03 07:55] madarche opened #388 "Publish convict@6.1.0 on NPM"
Hello @dannycoates, salut @julienw. Could you publish convict@6.1.0 on NPM please?

Everything is ready on the Git side:
* `package.json` files OK
* git tag OK
* CHANGELOG OK: https://github.com/mozilla/node-convict/blob/master/CHANGELOG.md

:warning: The project is now managed through [Lerna](https://lerna.js.org/) and thus you will have to do the following to do the publishing:

[code]

I have e

[2021-05-03 12:17] harshitachouhan206 commented on #387
Yeah tried this format option (custom validation check) and this works, thanks!

[2021-05-03 13:12] maxwrlr commented on #387
Thanks for sharing the insights, @harshitachouhan206. (I read the original comment)

So the real issue is that convict doesn't expect `undefined` as default value when `format` is set to `Object`.
Your use case basically relates to #292, which gets solved using a `nullable` option that's ready to be released.

For now it's probably best to just specify your own custom format for publicKey, which a

[2021-05-03 14:19] harshitachouhan206 commented on #387
Yeah, correct.
And that 'nullable' option would be helpful. For now, I'm going with the custom format checking.
Thanks for your help and for more info.

[2021-05-03 17:37] dannycoates commented on #388
done :)

[2021-05-03 17:37] #388 closed

[2021-05-04 06:07] madarche commented on #388
Thanks @dannycoates 🙇‍‍♂️

[2021-05-04 12:31] harshitachouhan206 commented on #387
Closing this issue, as it is resolved now.

[2021-05-04 12:31] #387 closed

[2021-05-12 16:34] Silur commented on #378
Experiencing the same issue on `6.1.0`, but without webpack. No matter what I set the corresponding env var, it always uses the default value:
[code]

[2021-05-14 07:18] gjasny opened #389 "Update validator to latest (major) version"
Hello,

Would you please consider raising the validator dependency from v11 to v13?
That would make my static code-analysis tool very happy.

Thanks,
Gregor

[2021-05-14 15:43] samlevin commented on #358
Incredible how vocally opposed this maintainer is to the idea of adding native TS support to a mainstream library, and for seemingly no good reason? TypeScript is everywhere, I can't imagine working without it. Every year we're depending less and less on `@types` as most of the community is supportive of this. I suppose I'll work towards replacing convict altogether with TypeScript-native function

[2021-05-14 21:14] awlayton commented on #136
I still get an error when using a function as the format:

[code]

[2021-05-17 08:35] madarche commented on #389
Hello @gene1wood-mozilla-owner, this will be done with #390.

[2021-05-19 11:57] manudiv opened #391 ""required" property should be a must-have"

[2021-05-20 13:41] irgijs opened #392 "Convict doesn't persist date / other custom objects"
I ran into an issue where convict doesn't persist configuration data if you attempt to set a custom-defined configuration object such as a date. Instead of returning the value that has been set, the default value is returned - even though that is a date as well.

Code to reproduce:
[code]

It seems that this bug is caused by the function [overlay](https://github.com/mozilla/node-convict/blob/maste

[2021-05-21 15:41] madarche commented on #389
Fixed with #390.

[2021-05-21 15:41] #389 closed

[2021-05-21 16:09] madarche opened #393 "Publish convict@6.2.0 on NPM"
Hello @dannycoates. Could you publish convict@6.2.0 on NPM please?

Everything is ready on the Git side:
* `package.json` files OK
* git tag OK
* CHANGELOG OK: https://github.com/mozilla/node-convict/blob/master/CHANGELOG.md

:warning: The project is now managed through [Lerna](https://lerna.js.org/) and thus you will have to do the following to do the publishing:

[code]

I have explained and jus

[2021-06-04 08:03] mallikde-kore opened #394 "6.0.1 version of Convict-format-with-validator package is using vulnerable version of validator module"
Validator package versions before 13.6.0 are vulnerable to ReDOS (Regular Expression Denial of Service) via isEmail and isHSL. The vulnerability can happen when checking if the crafted string is an email.

Validator has fixed this in their latest version 13.6.0.

Could see this validator module has been upgraded to 13.6.0 in version 6.2.0 of Convict-format-with-validator. Could you please release

[2021-06-04 10:45] madarche commented on #394
Hello. The ticket #393 is for taking care of the release to npm.

[2021-06-04 10:45] #394 closed

[2021-06-04 10:46] madarche commented on #393
@dannycoates please could you take some time to publish on npm? :pray:

[2021-06-14 22:07] michaelrommel commented on #311
Even when used with toString, it does not work, e.g. when you have a custom format with an array of items. It seems, that the algorithm finding a match in the rv._sensitive set is not working then.

[2021-06-15 16:52] madarche commented on #393
@dannycoates please could you take some time to publish on npm? :pray: Any problem? Should I ask someone else please?

[2021-06-22 11:55] ahippler commented on #393
@madarche any news?

[2021-06-22 14:32] madarche commented on #393
No news yet, sorry :cry:

[2021-07-03 13:50] madarche commented on #393
Hello @pdehaan, we're desperately searching for someone at Mozilla who could publish the new release of *convict*, and the next ones, to NPM. Could you help us please? 🙏‍‍

[2021-07-03 15:54] pdehaan commented on #393
I can reach out on Tuesday. We had a week of PTO last week, and next Monday is a holiday for us in Canada/USA, which means nobody will be checking email/Slack/GitHub.

[2021-07-03 16:05] madarche commented on #393
Thanks a lot @pdehaan!

[2021-07-10 00:12] AlexZeitler commented on #378
@Silur Facing the same issue. Did you solve it?

[2021-07-10 12:05] Silur commented on #378
no, I removed convict from my setup and use `process.env.MY_CONF_VAR || 'default value'` instead

[2021-07-10 23:06] AlexZeitler commented on #378
Looks like my issue has been different. It didn't notice `process.env.MY_CONF_VAR='some-value'` but it did work when I set the environment variables when starting the process or using this in my `config.ts` file:

[code]

[2021-07-13 17:03] ahippler commented on #393
@pdehaan did reach soebody?

[2021-07-13 17:19] pdehaan commented on #393
Yeah, sorry. A couple core people were on PTO last week, so I re-pinged the group this morning to try and get this resolved.
I don't have npm permissions for this project, so I can't help much from that end.

[2021-07-13 20:12] pdehaan commented on #393
@madarche I heard back that you were added as an npm maintainer (but I don't see you in <kbd>npm info convict maintainers</kbd> yet; not sure if that is cached data or if you need to accept some invitation or something).

Hopefully that will unblock you going forward. ❤️

[2021-07-15 06:48] madarche commented on #393
@pdehaan thank you, yes I've been added as an npm maintainer for `convict` 👍‍‍ 🙇‍‍♂️ ❤️

`npm info convict maintainers` wasn't showing this before my attempt to publish, but it now shows this after my attempt to publish. So your guess about a cache on this information was right.

So the publishing of `convict@6.2.0` has been done successfully 😃

… but there's one thing we didn't think about 😟 : `c

[2021-07-18 21:08] pdehaan commented on #393
Yeah, sorry. I reached out again a few days ago to get permissions for those 2 npm packages. I'll escalate on Monday.

[2021-07-19 20:22] pdehaan commented on #393
@madarche Can you try again?

[2021-07-20 07:59] madarche commented on #393
@pdehaan Yeeees I can publish all the 3 packages now! Many many thanks to you and to all involved! :bow: :bow: :bow:

[2021-07-20 07:59] #393 closed

[2021-07-20 16:14] pdehaan commented on #393
All credit goes to the amazing @dannycoates! 👏

[2021-07-23 11:49] madarche commented on #393
Many thanks @dannycoates :bowing_man: :bowing_man: :bowing_man:

[2021-07-23 14:02] paimon0715 opened #396 "Could you help remove the vulnerability introduced by package yargs-parser?"
Hi, @madarche @elyscape, I’d like to report a vulnerability introduced in your package **convict**:
### Issue Description
A vulnerability [**CVE-2020-7608**](https://snyk.io/vuln/SNYK-JS-YARGSPARSER-560381) detected in package **yargs-parser(>5.0.0-security.0 <5.0.1,>=6.0.0 <13.1.2,>=14.0.0 <15.0.1,>=16.0.0 <18.1.1)** is directly referenced by **_convict@5.2.0_**. We noticed that such a vulnerabil

[2021-07-23 14:46] madarche commented on #396
@paimon0715 problem understood!

Creating a `convict@5.2.1` should be possible. It doesn't seem to take much time. ETA 2 days.

[2021-07-23 14:48] paimon0715 commented on #396
@madarche Thanks for your understanding and help.

[2021-07-23 15:42] madarche commented on #396
@paimon0715 convict@5.2.1 is published! Please confirm that it fixes the reported issue!

[2021-07-23 15:42] #396 closed

[2021-08-02 11:38] minifjurt123 commented on #382
I solved it by simply looking if the config file exists:

[code]

[2021-08-12 07:42] Dinodanio commented on #385
+1 same here

[2021-09-08 09:24] digimbyte commented on #358
You can generate types automatically with `tsc --declarations`
it's documented here: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

[2021-10-11 10:42] ashishmahawal commented on #367
Is there any fix available for this issue yet ,i am facing similar issue ,default values of children array objects are not being loading after upgrade to 6.0.1 ?

[2021-10-19 06:29] thiren opened #398 "Version 5.2.1 of convict is tagged as latest on npm"
I'm not sure if this is intentional but version 5.2.1 of convict is tagged as the latest version on [npm](https://www.npmjs.com/package/convict?activeTab=versions). This results in version 5.2.1 being installed when running `npm install convict` instead of version 6.2.0

[2021-10-20 08:40] #398 closed, assigned to nobody

[2021-12-01 00:28] brianjenkins94 commented on #358
I'm working on a TypeScript rewrite 🙂

[2021-12-01 17:55] madarche commented on #358
@brianjenkins94 that is a constructive proposition! :+1:

[2021-12-05 03:48] brianjenkins94 commented on #358
I'm still trying to grok some of the dense logic, but here's where it will be if anyone wants to help!:

https://github.com/brianjenkins94/juvy / https://www.npmjs.com/package/juvy

[2021-12-08 19:58] cupcakearmy opened #399 "Support for env variable arrays"
Sry if there is already a ticket, I could not find it.

Is there any way to use arrays in a ENV variable? something like `FOO=1,2,3`?
I understand that comma might be a valid char, so maybe have it opt in?

[2021-12-28 14:22] AntonyM71 opened #400 "Error: Critical dependency: the request of a dependency is an expression when importing convict into react-app"
I receive the following error when trying to use Convict in my create-react-app application. It appears to be related to how convict imports parseArgs from `yarns-parser`

[code]
In my terminal, the following message is displayed:
[code]

Here is my package.json

[code]

[2022-01-07 07:51] jeantanzj commented on #251
[code]

If anyone else is looking for a solution

[2022-01-12 08:03] Tiramisupxl opened #401 "how to change the environment variables in docker run command"
I have add the config.js file
[code]

and the project will be run in docker

when I run
[code]

the project still run with the REDIS_PORT equals 6379

Is there some steps I miss?

[2022-02-10 13:57] nicholeuf commented on #400
As described in my earlier comment, I am seeing this message as a warning in my webpack build.

While searching for a solution, I found [mention](https://github.com/mozilla/node-convict/issues/400#issuecomment-1034925295) of setting `CI=false` as a solution for preventing these warnings from being treated as errors, which may help you @AntonyM71 .

[2022-02-15 01:31] omarabdelaz1z commented on #378
Totally agree with you, I removed it now.
![image](https://user-images.githubusercontent.com/59033999/153975573-e89ca594-3e58-4b99-a407-706e09cbc0bb.png)